/// <reference path="_variables.scss" />

.container {
    width: $size * 10;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    @include position;
    transform: translateY(999px);
    transition: transform 1s $timing-container;
}


.corps {
    margin-top: $size;
    transform: rotateY(-0.5turn);
    transition: transform 1s $timing-corps-rotate;
}

.tete {
    @include position;
    width: $size;
    height: $size;
    background: $cd-corps;
    border-radius: $size;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > .yeux {
        @include position;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: $size * 0.7;

        & .oeil {
            width: $size * 0.2;
            height: $size * 0.2;
            border-radius: $size;
            transform-origin: bottom;
            @include visage-color($cd-corps);

            & > .paupiere {
                @include position;
                width: inherit;
                height: inherit;
                background: $cd-corps;
                transform: scaleY(1);
                transition: transform 1s $timing-visage;
                transform-origin: top;
            }
        }
    }

    & > .bouche {
        @include position;
        width: $size * 0.4;
        height: $size * 0.2;
        border-radius: 0 0 $size * 0.5 $size * 0.5;
        @include visage-color($cd-corps);

        & > .levre {
            @include position;
            width: inherit;
            height: inherit;
            background: $cd-corps;
            transform: scaleY(1);
            transition: transform 1s $timing-visage;
            transform-origin: bottom;
        }
    }
}

.partie_intermediaire {
    width: $size * 3;
    @include position;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tronc {
    background: $cd-corps;
    width: $size;
    height: $size * 2.5;
    border-radius: $size * 2.5 $size * 2.5 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bras {
    width: $size * 0.5;
    height: $size * 2.5;
    background: $cd-corps;
    border-radius: $size;
    margin-top: 15px;

    &_gauche {
        height: $size * 1.25;
        transform-origin: 50% 0;
        transform: rotate(25deg);
        margin-right: -50px;
        border-radius: $size $size 0px 0px;
        transition: transform 700ms $timing-bras;

        &-inferieur {
            margin-top: $size;
            height: $size * 1.5;
            transform-origin: 50% 17%;
            transform: rotate(0deg);
            
        }
    }

    &_droit {
        transform-origin: 50% 0;
        transform: rotate(-25deg);
        margin-left: -50px;
    }
}

.bas_corps {
    @include position;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: $size;
}

.jambe {
    width: $size * 0.45;
    height: $size * 2.5;
    background: $cd-corps;
    border-radius: 0px 0px $size $size;
    margin-top: -16px;
}

.coucou {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    border: 10px solid $cd-corps;
    font-size: $size*0.7;
    padding: 0.5em;
    border-radius: $size;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s;

    &::after {
        content: '';
        position: absolute;
        top: 60%;
        left: -$size*0.5;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $size*0.5 $size*0.5 0px 0px;
        border-color: transparent $cd-corps transparent transparent;
        transform: rotate(-30deg);
    }
}


