/// <reference path="_variables.scss" />

.sky {
    background: #00BFFF;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 1s $timing-sky;
    overflow: hidden;

    & > .sun {
        position: absolute;
        width: $size-sun;
        height: $size-sun;
        background-color: $cd-sun;
        border-radius: $size-sun;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(500%);
        transition: transform 1s $timing-sun;

        & > .eyes {
            @include position;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: $size-sun * 0.7;

            & .eye {
                width: $size-sun * 0.2;
                height: $size-sun * 0.2;
                border-radius: $size-sun;
                transform-origin: bottom;
                background: $cd-sun-face;
            }
        }

        & > .mouth {
            @include position;
            width: $size-sun * 0.4;
            height: $size-sun * 0.2;
            border-radius: 0 0 $size-sun * 0.5 $size-sun * 0.5;
            background: $cd-sun-face;
        }
    }
}


.ground {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    overflow: hidden;

    & > .grass {
        width: 100%;
        height: 100%;
        background: $cd-ground;
        transform: scaleX(0);
        transition: transform 1s 1s;
    }

    & > .road {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: scaleY(0);

        & > .road-status {
            position: absolute;
            left: 45%;
            top: -$size*1.5;
            background-color: brown;
            width: $size-btn*0.5;
            height: $size-btn*5;
        }
    }
}
