/// <reference path="_variables.scss" />

.container {
    width: $size * 10;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    @include position;
    transition: transform 1s $timing-container;
}

.body, .head, .arm, .leg {
    position: absolute;
    background-color: black;
}

.body {
    top: 25%;
    left: 50%;
    width: $size;
    height: $size*3;
    border-radius: $size $size 0px 0px;
}

.head {
    top: -$size;
    width: $size;
    height: $size;
    border-radius: $size;
}

.arm {
    top: $size/5;
    height: $arm-height;
    border-radius: $size;

    &_left {
        width: $size*1.25;
        right: $arm-height;
        transform-origin: ($size*1.25 - $size/4) 50%;
        transform: rotate(-0deg);

        &-inferior {
            top: 0;
            left: -($size*2 - $size/4);
            width: $size*2;
            height: $arm-height;
            transform-origin: ($size*2 - $size/4) 50%;
            transform: rotate(0deg);
        }
    }

    &_right {
        width: $arm-width;
        left: $arm-height;
        transform-origin: $arm-height/2 50%;
        transform: rotate(0deg);
    }
}

.leg {
    top: $size*2.5;
    width: $leg-width;
    height: $leg-height;

    &_right {
        right: 0;
    }
}

.hello {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    border: 10px solid $cd-body;
    font-size: $size*0.7;
    padding: 0.5em;
    border-radius: $size;
    transform-origin: left;


    &::after {
        content: '';
        position: absolute;
        top: 60%;
        left: -$size*0.5;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $size*0.5 $size*0.5 0px 0px;
        border-color: transparent $cd-body transparent transparent;
        transform: rotate(-30deg);
    }
}


