/// <reference path="_variables.scss" />

.container {
    width: $size * 10;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    @include position;
    transition: transform 1s $timing-container;
}


.body {
    margin-top: $size;
    transition: transform 1s $timing-body-rotate;
}

.head {
    @include position;
    width: $size;
    height: $size;
    background: $cd-body;
    border-radius: $size;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > .eyes {
        @include position;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: $size * 0.7;

        & .eye {
            width: $size * 0.2;
            height: $size * 0.2;
            border-radius: $size;
            transform-origin: bottom;
            @include face-color($cd-body);

            & > .eyelid {
                @include position;
                width: inherit;
                height: inherit;
                background: $cd-body;
                transform-origin: top;
                transform: scale(0);
            }
        }
    }

    & > .mouth {
        @include position;
        width: $size * 0.4;
        height: $size * 0.2;
        border-radius: 0 0 $size * 0.5 $size * 0.5;
        @include face-color($cd-body);

        & > .lip {
            @include position;
            width: inherit;
            height: inherit;
            background: $cd-body;
            transform-origin: bottom;
            transform: scale(0);
        }
    }
}

.middle_part {
    width: $size * 3;
    @include position;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.torso {
    background: $cd-body;
    width: $size;
    height: $size * 2.5;
    border-radius: $size * 2.5 $size * 2.5 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arm {
    width: $size * 0.5;
    height: $size * 2.5;
    background: $cd-body;
    border-radius: $size;
    margin-top: 15px;

    &_left {
        height: $size * 1.25;
        transform-origin: 50% 0;
        transform: rotate(25deg);
        margin-right: -50px;
        border-radius: $size $size 0px 0px;
        transition: transform 700ms $timing-arm;

        &-inferior {
            margin-top: $size;
            height: $size * 1.5;
            transform-origin: 50% 17%;
            transform: rotate(0deg);
            
        }
    }

    &_right {
        transform-origin: 50% 0;
        transform: rotate(-25deg);
        margin-left: -50px;
    }
}

.lower_body {
    @include position;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: $size;
}

.leg {
    width: $size * 0.45;
    height: $size * 2.5;
    background: $cd-body;
    border-radius: 0px 0px $size $size;
    margin-top: -16px;
}

.hello {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    border: 10px solid $cd-body;
    font-size: $size*0.7;
    padding: 0.5em;
    border-radius: $size;
    transform-origin: left;


    &::after {
        content: '';
        position: absolute;
        top: 60%;
        left: -$size*0.5;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $size*0.5 $size*0.5 0px 0px;
        border-color: transparent $cd-body transparent transparent;
        transform: rotate(-30deg);
    }
}


