/// <reference path="_variables.scss" />

.wall-front {
    position: absolute;
    top: 10%;
    left: 30%;
    width: $front-wall-width;
    height: $front-wall-height;
    background-color: red;
}

.ceiling {
    position: absolute;
    bottom: $front-wall-height;
    left: -30vw;
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

.floor {
    position: absolute;
    top: $front-wall-height;
    left: -30vw;
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

.wall-left {
    position: absolute;
    top: 10%;
    right: 70%;
    width: 100vw;
    height: $front-wall-height;
    background-color: blue;
    transform-origin: right;
    transform: perspective(100vw) rotateY(80deg);

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: $front-wall-width/5;
        height: $front-wall-height*0.9;
        background-color: #b24018;
    }

    &::after {
        content: '';
        position: absolute;
        top: $front-wall-height/2;
        right: $front-wall-width/5 - $front-wall-height/20;
        width: $front-wall-height/20;
        height: $front-wall-height/20;
        border-radius: $front-wall-height/20;
        background-color: black;
    }
}

.wall-right {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 100vw;
    height: $front-wall-height;
    background-color: green;
    transform-origin: left;
    transform: perspective(100vw) rotateY(-80deg);
}

.flat-screen {
    position: absolute;
    top: 20%;
    left: 40%;
    width: $flat-screen-width;
    height: $flat-screen-height;
    background-color: black;
    border-radius: 1%;

    &::before {
        content: '';
        position: absolute;
        top: $flat-screen-height;
        left: ($flat-screen-width -$flat-screen-width/20)/2;
        width: $flat-screen-width/20;
        height: $flat-screen-height/10;
        background-color: black;
    }

    &::after {
        content: '';
        position: absolute;
        top: $flat-screen-height + $flat-screen-height/10;
        left: ($flat-screen-width -$flat-screen-width/2)/2;
        width: $flat-screen-width/2;
        height: $flat-screen-height/20;
        background-color: black;
    }
}

.screen {
    position: absolute;
    top: $flat-screen-height/20;
    left: $flat-screen-width/30;
    width: $flat-screen-width - $flat-screen-width/15;
    height: $flat-screen-height - $flat-screen-height/10;
    background-color: grey;
    border-radius: 1%;
}
