$color-body: #FFCD94;
$color-sun: yellow;
$color-moon: #d7d7d7;
$color-moon-crater: #b6b6b6;
$color-sun-face: black;
$color-tornado: grey;
$color-volcano: #9c4110;
$color-ground: #269627;
$color-ushanka: #000048;
$color-shirt: lightgreen;
$color-short: blue;
$color-stick: #793906;
$color-umbrella: purple;
$color-coat: olive;
$color-rain-coat: #e9c500;
$color-suit: black;
$color-tie: red;
$color-suit-shoe: #481d20;

$flat-screen-width: 40vw;
$flat-screen-height: 20vw;

/*guy size variables*/
$size: $flat-screen-width*3/100;
$body-height: $size*3;
$eye-width: $size/5;
$mouth-width: $size/2;
$arm-width: $size*3;
$arm-height: $size/2;
$upper-arm-width: $size*1.5;
$inferior-arm-width: $size*2;
$leg-width: $size*0.45;
$leg-height: $size*2.5;

/*decor size variables*/
$celestial-size: $size*2.5;
$celestial-eye-size: $celestial-size/6;
$celestial-mouth-width: $celestial-size/2;
$cloud-width: $size*5;
$cloud-height: $cloud-width/3;
$thunder-width: $cloud-width/8;
$thunder-height: $thunder-width*1.25;
$tornado-radius: $flat-screen-width*4/100;
$tornado-height: $tornado-radius/2;
$tornado-parts-width: $tornado-radius*6.39/24;
$volcano-width: $flat-screen-width*20/100;
$volcano-height: $volcano-width/3;
$volcano-tube-width: $volcano-width/5;
$volcano-side-width: ($volcano-width - $volcano-tube-width)/2;
$volcano-side-height: $volcano-width + $volcano-height;
$water-drop-width: $flat-screen-width * 5/100;
$snowflake-height: $flat-screen-width * 5/100;
$snowflake-width: $snowflake-height/10;

/*weather-clothes variables*/
$sleeve-inferior-width: $inferior-arm-width - $arm-width*0.2;

$ushanka-width: $size;
$ushanka-height: $ushanka-width/1.5;
$flap-width: $ushanka-width/12;


$sunglasses-width: $size;
$sunglasses-height: $size/20;
$glasses-width: $sunglasses-width*0.4;
$glasses-height: $glasses-width/1.5;

$umbrella-width: $size*3;
$umbrella-height: $umbrella-width/2;
$arc-width: $umbrella-width/3;
$arc-height: $arc-width/3;
$stick-size: $umbrella-width*0.05;
$crook-size: $umbrella-width/5;

$coat-width: $size;
$coat-height: $coat-width*3.5;
$zip-width: $coat-width/20;
$sleeve-width: $coat-height;
$sleeve-height: $coat-width/2.5;

$rain-coat-width: $size;
$rain-coat-height: $rain-coat-width*2;
$zip-width: $rain-coat-width/20;
$rain-hood-height: $rain-coat-width;
$rain-sleeve-width: $rain-coat-height;
$rain-sleeve-height: $rain-coat-width/2.5;
$rain-pants-height: $rain-coat-height/2;
$rain-shoe-height: $rain-pants-height/2;


$knot-size: $size/5;
$tie-width: $knot-size*0.6;
$tie-height: $size*0.62;



@mixin face-color ($color) {
    @if (lightness($color) < 15%) or (saturation($color) < 10%) {
        background: white;
    }
    @else {
        background: complement($color);
    }
}

@mixin right-arm-pos {
    left: $arm-height;
    transform-origin: $arm-height/2 50%;
    transform: rotate(0deg);
}

@mixin left-upper-arm-pos {
    right: $arm-height;
    transform-origin: ($upper-arm-width - $arm-height/2) 50%;
    transform: rotate(0deg);
}

@mixin left-lower-arm-pos {
    top: 0;
    right: $upper-arm-width - $arm-height;
    width: $sleeve-inferior-width;
    height: $arm-height;
    transform-origin: ($sleeve-inferior-width - $arm-height/2) 50%;
    transform: rotate(90deg);
}

@keyframes tornado-spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes stage-one-rotation {
    0% {
        transform: rotateY(0deg) rotateX(4deg);
        left: -$tornado-radius/3;
    }

    100% {
        transform: rotateY(0deg) rotateX(4deg);
        left: $tornado-radius/3;
    }
}

@keyframes stage-two-rotation {
    0% {
        transform: rotateY(0deg) rotateX(4deg);
        left: -$tornado-radius/4;
    }

    100% {
        transform: rotateY(0deg) rotateX(4deg);
        left: $tornado-radius/4;
    }
}

@keyframes stage-three-rotation {
    0% {
        transform: rotateY(0deg) rotateX(4deg);
        left: -$tornado-radius/2;
    }

    100% {
        transform: rotateY(0deg) rotateX(4deg);
        left: $tornado-radius/2;
    }
}