$color-body: #FFCD94;
$color-sun: yellow;
$color-moon: #d7d7d7;
$color-moon-crater: #b6b6b6;
$color-sun-face: black;
$color-ground: #269627;
$color-ushanka: #000048;
$color-shirt: lightgreen;
$color-short: blue;
$color-stick: #793906;
$color-umbrella: purple;
$color-coat: olive;
$color-rain-coat: #e9c500;
$color-suit: black;
$color-tie: red;
$color-suit-shoe: #481d20;

/*guy size variables*/
$size: 3vw;
$body-height: $size*3;
$eye-width: $size/5;
$mouth-width: $size/2;
$arm-width: $size*3;
$arm-height: $size/2;
$upper-arm-width: $size*1.5;
$inferior-arm-width: $size*2;
$leg-width: $size*0.45;
$leg-height: $size*2.5;

/*decor size variables*/
$size-sun: $size*2.5;
$moon-size: $size*2.5;
$moon-eye-size: $moon-size/6;
$moon-mouth-width: $moon-size/2;

/*weather-clothes variables*/
$sleeve-inferior-width: $inferior-arm-width - $arm-width*0.2;

$ushanka-width: $size;
$ushanka-height: $ushanka-width/1.5;
$flap-width: $ushanka-width/12;


$sunglasses-width: $size;
$sunglasses-height: $size/20;
$glasses-width: $sunglasses-width*0.4;
$glasses-height: $glasses-width/1.5;

$umbrella-width: $size*3;
$umbrella-height: $umbrella-width/2;
$arc-width: $umbrella-width/3;
$arc-height: $arc-width/3;
$stick-size: $umbrella-width*0.05;
$crook-size: $umbrella-width/5;

$coat-width: $size;
$coat-height: $coat-width*3.5;
$zip-width: $coat-width/20;
$sleeve-width: $coat-height;
$sleeve-height: $coat-width/2.5;

$rain-coat-width: $size;
$rain-coat-height: $rain-coat-width*2;
$zip-width: $rain-coat-width/20;
$rain-hood-height: $rain-coat-width;
$rain-sleeve-width: $rain-coat-height;
$rain-sleeve-height: $rain-coat-width/2.5;
$rain-pants-height: $rain-coat-height/2;
$rain-shoe-height: $rain-pants-height/2;


$knot-size: $size/5;
$tie-width: $knot-size*0.6;
$tie-height: $size*0.62;



@mixin face-color ($color) {
    @if (lightness($color) < 15%) or (saturation($color) < 10%) {
        background: white;
    }
    @else {
        background: complement($color);
    }
}

@mixin right-arm-pos {
    left: $arm-height;
    transform-origin: $arm-height/2 50%;
    transform: rotate(0deg);
}

@mixin left-upper-arm-pos {
    right: $arm-height;
    transform-origin: ($upper-arm-width - $arm-height/2) 50%;
    transform: rotate(0deg);
}

@mixin left-lower-arm-pos {
    top: 0;
    right: $upper-arm-width - $arm-height;
    width: $sleeve-inferior-width;
    height: $arm-height;
    transform-origin: ($sleeve-inferior-width - $arm-height/2) 50%;
    transform: rotate(90deg);
}

/*DECOR*/


@keyframes road-rollout {
    0% {
        transform-origin: bottom;
        transform: scaleY(0);
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}

@keyframes road-status {
    0% {
        transform-origin: center center;
        transform: perspective(00px) rotateX(0deg);
    }

    100% {
        transform-origin: center center;
        transform: perspective(50px) rotateX(10deg);
    }
}

@keyframes grass-expansion {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes sky-ascend {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes sun-ascend {
    0% {
        transform: translateY(500%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*BONHOMME*/

@keyframes container-showup {
    0% {
        transform: translateY(999px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes body-rotate {
    0% {
        transform: rotateY(-0.5turn);
    }

    100% {
        transform: rotateY(0turn);
    }
}

@keyframes face-uncovered {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes arm-raised {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

@keyframes hello-appearance {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
