$ushanka-width: 15vw;
$ushanka-height: $ushanka-width/1.5;
$flap-width: $ushanka-width/12;

$color-ushanka: black;

#ushanka {
	position: absolute;
	top: 10%;
	left: 50%;
	width: $ushanka-width;
	height: $ushanka-height;
	background-color: $color-ushanka;
	border-radius: $ushanka-height/1.5;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&::after {
		content: '';
		position: absolute;
		top: $ushanka-height - $ushanka-height + 3vw;
		left: $ushanka-width - $ushanka-width + 2.5vw;
		width: $ushanka-width - 5vw;
		height: $ushanka-height - 3vw;
		background-color: grey;
		border-radius: $ushanka-height/1.5;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	& > .flap {
		position: absolute;
		top: $ushanka-height;
		width: $flap-width;
		height: $ushanka-height;

		&-left {
			background-color: black;
			border-bottom-left-radius: $flap-width;

			&::after {
				content: '';
				position: absolute;
				left: $flap-width;
				width: $flap-width;
				height: $ushanka-height;
				background-color: grey;
				border-bottom-right-radius: $flap-width;
			}
		}

		&-right {
			left: $ushanka-width - $flap-width;
			background-color: black;
			border-bottom-right-radius: $flap-width;

			&::after {
				content: '';
				position: absolute;
				left: -$flap-width;
				width: $flap-width;
				height: $ushanka-height;
				background-color: grey;
				border-bottom-left-radius: $flap-width;
			}
		}
	}
}

$shirt-width: 10vw;
$shirt-height: $shirt-width*2;
$sleeve-width: $shirt-height/2;
$sleeve-height: $shirt-width/2.5;
$short-top-position: $shirt-height;


$shirt-color: lightgreen;
$short-color: blue;

#shirt {
	position: absolute;
	top: 10%;
	left: 50%;
	width: $shirt-width;
	height: $shirt-height;
	background-color: $shirt-color;
	border-radius: $shirt-width;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&::before {
		content: '';
		position: absolute;
		left: $shirt-width/2 - $shirt-width/4;
		width: 0;
		height: 0;
		border-left: $shirt-width/4 solid transparent;
		border-right: $shirt-width/4 solid transparent;
		border-top: $shirt-width/2 solid white;
	}

	& > #apperture {
		position: absolute;
		left: $shirt-width/2 - $shirt-width/20;
		width: $shirt-width/10;
		height: $shirt-height - $shirt-height*0.2;
		background-color: white;

		&::after {
			content: '';
			position: absolute;
			top: $shirt-height - $shirt-height*0.2;
			width: $shirt-width/10;
			height: $shirt-height*0.2;
			background-color: blue;
		}
	}

	& > .sleeve {
		position: absolute;
		top: $shirt-height/10;
		width: $sleeve-width;
		height: $sleeve-height;
		border-radius: $sleeve-width;
		background-color: $shirt-color;

		&-left {
			left: -$sleeve-width + $shirt-width/3;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&-right {
			left: $sleeve-width - $shirt-width/3;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

#short {
	position: absolute;
	top: $short-top-position;
	width: $shirt-width;
	height: $shirt-height/5;
	background-color: blue;

	&::before {
		content: '';
		position: absolute;
		top: $shirt-height/5;
		width: $shirt-width*0.45;
		height: $shirt-height/5;
		background-color: blue;
	}

	&::after {
		content: '';
		position: absolute;
		top: $shirt-height/5;
		left: $shirt-width - $shirt-width*0.45;
		width: $shirt-width*0.45;
		height: $shirt-height/5;
		background-color: blue;
	}
}

$sunglasses-width: 20vw;
$sunglasses-height: 1vw;
$glasses-width: $sunglasses-width*0.4;
$glasses-height: $glasses-width/1.5;

#sunglasses {
	position: absolute;
	width: $sunglasses-width;
	height: $sunglasses-height;
	background-color: black;

	&::before {
		content: '';
		position: absolute;
		left: $sunglasses-width*0.03;
		background-color: black;
		width: $glasses-width;
		height: $glasses-height;
		border-radius: $glasses-width/5;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&::after {
		content: '';
		position: absolute;
		left: $sunglasses-width*0.97 - $glasses-width;
		background-color: black;
		width: $glasses-width;
		height: $glasses-height;
		border-radius: $glasses-width/5;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

$head-size: 50vw;
$arc-width: $head-size/3;
$arc-height: $arc-width/3;
$stick-size: $head-size*0.05;
$crook-size: $head-size/5;

$stick-color: #793906;
$umbrella-color: purple;

#head {
	position: absolute;
	left: 25%;
	top: 10%;
	background-color: $umbrella-color;
	width: $head-size;
	height: $head-size/2;
	border-top-left-radius: $head-size;
	border-top-right-radius: $head-size;

	& > span {
		content: '';
		background-color: white;
		width: $arc-width;
		height: $arc-height;
		position: absolute;
		top: $head-size/2 - $arc-height;
		left: $arc-width;
		border-radius: 50% / 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		&::after {
			content: '';
			background-color: white;
			width: $arc-width;
			height: $arc-height;
			position: absolute;
			left: $arc-width;
			border-radius: 50% / 100%;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&::before {
			content: '';
			background-color: white;
			width: $arc-width;
			height: $arc-height;
			position: absolute;
			right: $arc-width;
			border-radius: 50% / 100%;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

#stick {
	position: absolute;
	width: $stick-size;
	height: $head-size/2;
	background-color: $stick-color;
	left: ($head-size - $stick-size)/2;
	top: $head-size/2 - $arc-height;

	&::before {
		content: '';
		position: absolute;
		top: $arc-height - $head-size/2 - $stick-size;
		width: $stick-size;
		height: $head-size*0.05;
		background-color: $stick-color;
		border-radius: $stick-size;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

#crook {
	position: absolute;
	width: $crook-size;
	height: $crook-size/2;
	top: $head-size/2;
	left: -$crook-size + $stick-size;
	background-color: $stick-color;
	border-radius: $crook-size;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&::before {
		content: '';
		position: absolute;
		width: $crook-size - $stick-size*2;
		height: ($crook-size - $stick-size*2)/2;
		left: $stick-size;
		background-color: white;
		border-radius: $crook-size;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: -$stick-size;
		width: $stick-size;
		height: $stick-size;
		background-color: $stick-color;
		border-radius: $crook-size;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
