/// <reference path="_variables.scss" />

#ushanka {
	position: absolute;
	z-index: 100;
	top: 15%;
	left: 20%;
	width: $ushanka-width;
	height: $ushanka-height;
	background-color: $color-ushanka;
	border-radius: $ushanka-height;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: $ushanka-width*0.1;
		width: $ushanka-width*0.8;
		height: $ushanka-height*0.7;
		background-color: grey;
		border-radius: $ushanka-height/1.5;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	& > .flap {
		position: absolute;
		top: $ushanka-height;
		width: $flap-width;
		height: $ushanka-height*1.25;
		background-color: $color-ushanka;

		&-left {
			border-bottom-left-radius: $flap-width;

			&::after {
				content: '';
				position: absolute;
				left: $flap-width;
				width: $flap-width;
				height: $ushanka-height*1.25;
				background-color: grey;
				border-bottom-right-radius: $flap-width;
			}
		}

		&-right {
			right: 0;
			border-bottom-right-radius: $flap-width;

			&::after {
				content: '';
				position: absolute;
				left: -$flap-width;
				width: $flap-width;
				height: $ushanka-height*1.25;
				background-color: grey;
				border-bottom-left-radius: $flap-width;
			}
		}
	}
}

#snow-coat {
	position: absolute;
	z-index: 100;
	top: 25%;
	left: 80%;
	width: $coat-width;
	height: $coat-height;
	background-color: $coat-color;
	border-top-left-radius: $coat-width;
	border-top-right-radius: $coat-width;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: ($coat-width - $zip-width)/2;
		width: $zip-width;
		height: $coat-height;
		background-color: black;
	}

	& > #scarf {
		content: '';
		position: absolute;
		top: 0;
		left: $coat-width*0.20/2;
		width: $coat-width*0.80;
		height: $coat-height/10;
		background-color: red;

		&::after {
			content: '';
			position: absolute;
			top: $coat-height/10;
			left: $coat-width*0.80*0.65;
			z-index: 5;
			width: $coat-width*0.80/4;
			height: $coat-height/3;
			background-color: red;
		}
	}

	& > .snow-sleeve {
		position: absolute;
		top: $size/5;
		width: $sleeve-width;
		height: $arm-height;
		border-radius: $sleeve-width;
		background-color: $coat-color;

		&-left {
			width: $upper-arm-width;
			@include left-upper-arm-pos;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&::after {
				content: '';
				position: absolute;
				background-color: $coat-color;
				@include left-lower-arm-pos;
			}
		}

		&-right {
			width: $arm-width*0.8;
			@include right-arm-pos;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	& > .snow-pants-leg {
		position: absolute;
		top: $coat-height;
		width: $coat-width*0.45;
		height: $body-height + $leg-height - $coat-height;
		background-color: blue;

		&-right {
			right: 0;
		}
	}
}

#shirt {
	position: absolute;
	top: 25%;
	left: 20%;
	width: $shirt-width;
	height: $body-height;
	background-color: $shirt-color;
	border-radius: $shirt-width;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&::before {
		content: '';
		z-index: 101;
		position: absolute;
		left: ($size/2 - $size/5)/2;
		width: $size/5;
		box-sizing: content-box;
		border-width: $size/2 $size/4 0;
		border-style: solid;
		border-color: $cd-body transparent;
		border-radius: $size;
	}

	& > #apperture {
		position: absolute;
		top: 0;
		z-index: 101;
		left: ($size - $size/4)/2;
		width: $size/4;
		height: $body-height*0.8;
		background-color: $cd-body;

		&::after {
			content: '';
			position: absolute;
			top: $shirt-height*0.8;
			width: $size/4;
			height: $shirt-height*0.21;
			background-color: blue;
		}
	}

	& > .sleeve {
		position: absolute;
		top: $size/5;
		height: $arm-height;
		border-radius: $sleeve-width;
		background-color: $shirt-color;

		&-left {
			width: $arm-width*0.3;
			@include left-upper-arm-pos;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&-right {
			width: $arm-width*0.3;
			@include right-arm-pos;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

#short {
	position: absolute;
	top: $short-top-position;
	width: $shirt-width;
	height: $shirt-height/5;
	background-color: blue;

	&::before {
		content: '';
		position: absolute;
		top: $shirt-height/5;
		width: $shirt-width*0.45;
		height: $shirt-height/5;
		background-color: blue;
	}

	&::after {
		content: '';
		position: absolute;
		top: $shirt-height/5;
		left: $shirt-width - $shirt-width*0.45;
		width: $shirt-width*0.45;
		height: $shirt-height/5;
		background-color: blue;
	}
}

#sunglasses {
	position: absolute;
	top: 20%;
	left: 20%;
	width: $sunglasses-width;
	height: $sunglasses-height;
	background-color: black;

	&::before {
		content: '';
		position: absolute;
		left: $sunglasses-width*0.03;
		background-color: black;
		width: $glasses-width;
		height: $glasses-height;
		border-radius: $glasses-width/5;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&::after {
		content: '';
		position: absolute;
		left: $sunglasses-width*0.97 - $glasses-width;
		background-color: black;
		width: $glasses-width;
		height: $glasses-height;
		border-radius: $glasses-width/5;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

#umbrella {
	position: absolute;
	left: 25%;
	top: 10%;
	background-color: $umbrella-color;
	width: $head-size;
	height: $head-size/2;
	border-top-left-radius: $head-size;
	border-top-right-radius: $head-size;

	& > span {
		content: '';
		background-color: white;
		width: $arc-width;
		height: $arc-height;
		position: absolute;
		top: $head-size/2 - $arc-height;
		left: $arc-width;
		border-radius: 50% / 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		&::after {
			content: '';
			background-color: white;
			width: $arc-width;
			height: $arc-height;
			position: absolute;
			left: $arc-width;
			border-radius: 50% / 100%;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&::before {
			content: '';
			background-color: white;
			width: $arc-width;
			height: $arc-height;
			position: absolute;
			right: $arc-width;
			border-radius: 50% / 100%;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

#stick {
	position: absolute;
	width: $stick-size;
	height: $head-size/2;
	background-color: $stick-color;
	left: ($head-size - $stick-size)/2;
	top: $head-size/2 - $arc-height;

	&::before {
		content: '';
		position: absolute;
		top: $arc-height - $head-size/2 - $stick-size;
		width: $stick-size;
		height: $head-size*0.05;
		background-color: $stick-color;
		border-radius: $stick-size;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

#crook {
	position: absolute;
	width: $crook-size;
	height: $crook-size/2;
	top: $head-size/2;
	left: -$crook-size + $stick-size;
	background-color: $stick-color;
	border-radius: $crook-size;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&::before {
		content: '';
		position: absolute;
		width: $crook-size - $stick-size*2;
		height: ($crook-size - $stick-size*2)/2;
		left: $stick-size;
		background-color: white;
		border-radius: $crook-size;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: -$stick-size;
		width: $stick-size;
		height: $stick-size;
		background-color: $stick-color;
		border-radius: $crook-size;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

#rain-coat {
	position: absolute;
	top: 25%;
	left: 20%;
	width: $rain-coat-width;
	height: $body-height;
	background-color: $rain-coat-color;
	border-top-left-radius: $rain-coat-width;
	border-top-right-radius: $rain-coat-width;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: ($rain-coat-width - $zip-width)/2;
		width: $zip-width;
		height: $body-height;
		background-color: black;
	}

	& > .rain-sleeve {
		position: absolute;
		top: $size/5;
		width: $rain-sleeve-width;
		height: $arm-height;
		border-radius: $rain-sleeve-width;
		background-color: $rain-coat-color;

		&-left {
			width: $upper-arm-width;
			@include left-upper-arm-pos;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&::after {
				content: '';
				position: absolute;
				background-color: $rain-coat-color;
				@include left-lower-arm-pos;
			}
		}

		&-right {
			width: $arm-width*0.8;
			@include right-arm-pos;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	& > .rain-pants-leg {
		position: absolute;
		top: $body-height;
		width: $leg-width;
		height: $leg-height;
		background-color: blue;

		&-right {
			right: 0;
		}

		& > .rain-shoe {
			position: absolute;
			bottom: 0;
			width: $leg-width;
			height: $leg-height/3;
			background-color: red;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				width: $rain-pants-width;
				height: $leg-height/3/3;
				background-color: red;
				border-top: 1px solid black;
				border-top-left-radius: $rain-coat-width*0.45;
				border-top-right-radius: $rain-coat-width*0.45;
			}
		}
	}
}

#rain-hood {
	position: absolute;
	top: -$rain-hood-height;
	left: ($rain-coat-width - $rain-hood-height)/2;
	width: $rain-hood-height;
	height: $rain-hood-height;
	border-radius: $rain-hood-height;
	background: radial-gradient(circle at center, transparent 50%, rgba($rain-coat-color,1) 50%);
}

.suit {
	position: absolute;
	top: 25%;
	left: 50%;
	width: $size;
	height: $size*3;
	border-radius: $size $size 0px 0px;
	background-color: $color-suit;
}

.suit-shirt {
	position: absolute;
	left: $size/2 - $size/3;
	width: 0px;
	border-width: $size $size/3 0;
	border-style: solid;
	border-color: lightblue transparent;
	border-top-left-radius: $size/4;
	border-top-right-radius: $size/4;
}

.tie {
	position: absolute;
	top: $knot-size;
	left: ($size - $tie-width)/2;
	width: $tie-width;
	height: $tie-height;
	background-color: $color-tie;

	&::before {
		content: '';
		position: absolute;
		top: -$knot-size;
		left: -$knot-size/4;
		width: $knot-size;
		height: $knot-size;
		background-color: $color-tie;
		border-radius: $knot-size;
	}

	&::after {
		content: '';
		position: absolute;
		top: $tie-height;
		left: 0;
		border-width: $size*0.2 $tie-width/2 0;
		border-style: solid;
		border-color: red transparent;
	}
}

.suit-sleeve {
	position: absolute;
	top: $size/5;
	height: $arm-height;
	background-color: $color-suit;
	border-radius: $arm-width;

	&_left {
		width: $upper-arm-width;
		@include left-upper-arm-pos;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		&::after {
			content: '';
			position: absolute;
			background-color: $color-suit;
			@include left-lower-arm-pos;
		}
	}

	&_right {
		width: $arm-width*0.8;
		@include right-arm-pos;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.suit-pants-leg {
	position: absolute;
	top: $body-height;
	width: $size*0.45;
	height: $leg-height;
	background-color: $color-suit;

	&-right {
		right: 0;
	}

	& > .suit-shoe {
		position: absolute;
		bottom: 0;
		width: $leg-width;
		height: $leg-height/10;
		background-color: $color-suit-shoe;
		border-top-left-radius: $leg-width;
		border-top-right-radius: $leg-width;
	}
}