/*guy size variables*/
/*decor size variables*/
/*weather-clothes variables*/
@keyframes tornado-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.sky {
  background: #00BFFF;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.sun {
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  background-color: yellow;
  border-radius: 7.5vw;
  top: 0;
  right: 0;
}
.sun_eye {
  position: absolute;
  top: 2.5vw;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 1.25vw;
  background-color: black;
}
.sun_eye-left {
  left: 1.25vw;
}
.sun_eye-right {
  right: 1.25vw;
}
.sun_mouth {
  position: absolute;
  top: 5vw;
  left: 1.875vw;
  width: 3.75vw;
  height: 1.5vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.ground {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}
.ground > .grass {
  width: 100%;
  height: 100%;
  background: #269627;
}
.ground > .road {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ground > .road > .road-status {
  position: absolute;
  left: 45%;
  background-color: brown;
}

.moon {
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  background-color: #d7d7d7;
  border-radius: 7.5vw;
}
.moon_eye {
  position: absolute;
  top: 2.5vw;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 1.25vw;
  background-color: black;
}
.moon_eye-left {
  left: 1.25vw;
}
.moon_eye-right {
  right: 1.25vw;
}
.moon_mouth {
  position: absolute;
  top: 5vw;
  left: 1.875vw;
  width: 3.75vw;
  height: 1.5vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}
.moon_crater1 {
  position: absolute;
  top: 0.75vw;
  left: 1.5vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 1.5vw;
  background-color: #b6b6b6;
  transform: skewY(-15deg);
}
.moon_crater2 {
  position: absolute;
  top: 6vw;
  left: 1.5vw;
  width: 1.0714285714vw;
  height: 1.0714285714vw;
  border-radius: 1.0714285714vw;
  background-color: #b6b6b6;
  transform: skewX(30deg);
}
.moon_crater3 {
  position: absolute;
  top: 0.9375vw;
  left: 5.625vw;
  width: 1.0714285714vw;
  height: 1.0714285714vw;
  border-radius: 1.5vw;
  background-color: #b6b6b6;
  transform: skew(10deg, 10deg) rotate(0.75turn);
}

.cloud {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 5vw;
  width: 15vw;
  background: white;
  border-radius: 5vw;
}
.cloud::before {
  content: "";
  position: absolute;
  top: -1.6666666667vw;
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  left: 2.5vw;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background: white;
  transform: rotate(40deg);
}
.cloud::after {
  content: "";
  position: absolute;
  height: 7.5vw;
  width: 7.5vw;
  top: -2.5vw;
  left: 5vw;
  border-radius: 50%;
  box-sizing: border-box;
  border-bottom-color: transparent;
  background: white;
  border-right-color: transparent;
  transform: rotate(55deg);
}
.cloud_eye {
  position: absolute;
  top: 0;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 1.25vw;
  background-color: black;
}
.cloud_eye-left {
  left: 3.75vw;
}
.cloud_eye-right {
  z-index: 2;
  right: 3.75vw;
}
.cloud_mouth {
  z-index: 2;
  position: absolute;
  top: 2.5vw;
  left: 5.625vw;
  width: 3.75vw;
  height: 1.5vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.thunder {
  position: absolute;
  top: 5vw;
  left: 5.625vw;
  width: 1.875vw;
  height: 2.34375vw;
  background-color: yellow;
  transform: skew(-40deg);
}
.thunder::before {
  content: "";
  position: absolute;
  top: 1.5625vw;
  left: 1.875vw;
  width: 1.875vw;
  height: 2.34375vw;
  background-color: yellow;
}
.thunder::after {
  content: "";
  position: absolute;
  top: 3.90625vw;
  left: 1.875vw;
  border-style: solid;
  border-width: 0 0 1.171875vw 1.875vw;
  border-color: transparent transparent transparent yellow;
}

.frame {
  position: absolute;
  top: 20%;
  width: 10vw;
  transform-style: preserve-3d;
  transform: rotateX(5deg) rotateY(45deg) translate3d(325px, -70px, 50px);
}

.tornado1 div {
  position: absolute;
  height: 10vw;
  width: 8vw;
  transform-style: preserve-3d;
  background: red;
  opacity: 1;
}

.tornado {
  transform-style: preserve-3d;
  animation: 1s infinite linear tornado-spin;
}
.tornado .a {
  background-position: 0 0;
  transform: rotateY(0deg) translateZ(124px);
}
.tornado .b {
  background-position: 759px 0;
  transform: rotateY(15deg) translateZ(124px);
}
.tornado .c {
  background-position: 726px 0;
  transform: rotateY(30deg) translateZ(124px);
}
.tornado .d {
  background-position: 693px 0;
  transform: rotateY(45deg) translateZ(124px);
}
.tornado .e {
  background-position: 660px 0;
  transform: rotateY(60deg) translateZ(124px);
}
.tornado .f {
  background-position: 627px 0;
  transform: rotateY(75deg) translateZ(124px);
}
.tornado .g {
  background-position: 594px 0;
  transform: rotateY(90deg) translateZ(124px);
}
.tornado .h {
  background-position: 561px 0;
  transform: rotateY(105deg) translateZ(124px);
}
.tornado .i {
  background-position: 528px 0;
  transform: rotateY(120deg) translateZ(124px);
}
.tornado .j {
  background-position: 495px 0;
  transform: rotateY(135deg) translateZ(124px);
}
.tornado .k {
  background-position: 462px 0;
  transform: rotateY(150deg) translateZ(124px);
}
.tornado .l {
  background-position: 429px 0;
  transform: rotateY(165deg) translateZ(124px);
}
.tornado .m {
  background-position: 396px 0;
  transform: rotateY(180deg) translateZ(124px);
}
.tornado .n {
  background-position: 363px 0;
  transform: rotateY(195deg) translateZ(124px);
}
.tornado .o {
  background-position: 330px 0;
  transform: rotateY(210deg) translateZ(124px);
}
.tornado .p {
  background-position: 297px 0;
  transform: rotateY(225deg) translateZ(124px);
}
.tornado .q {
  background-position: 264px 0;
  transform: rotateY(240deg) translateZ(124px);
}
.tornado .r {
  background-position: 231px 0;
  transform: rotateY(255deg) translateZ(124px);
}
.tornado .s {
  background-position: 198px 0;
  transform: rotateY(270deg) translateZ(124px);
}
.tornado .t {
  background-position: 165px 0;
  transform: rotateY(285deg) translateZ(124px);
}
.tornado .u {
  background-position: 132px 0;
  transform: rotateY(300deg) translateZ(124px);
}
.tornado .v {
  background-position: 99px 0;
  transform: rotateY(315deg) translateZ(124px);
}
.tornado .w {
  background-position: 66px 0;
  transform: rotateY(330deg) translateZ(124px);
}
.tornado .x {
  background-position: 33px 0;
  transform: rotateY(345deg) translateZ(124px);
}

.tornado2 div {
  position: absolute;
  top: 14vw;
  height: 10vw;
  width: 8vw;
  transform-style: preserve-3d;
  background: blue;
  opacity: 1;
}

.tornado3 div {
  position: absolute;
  top: 28vw;
  height: 10vw;
  width: 8vw;
  transform-style: preserve-3d;
  background: orange;
  opacity: 1;
}

.tornado4 div {
  position: absolute;
  top: 42vw;
  height: 10vw;
  width: 8vw;
  transform-style: preserve-3d;
  background: purple;
  opacity: 1;
}

.body, .head, .arm, .leg {
  position: absolute;
  background-color: #FFCD94;
}

.eye, .mouth {
  position: absolute;
  background-color: white;
}

.body {
  top: 55%;
  left: 50%;
  width: 3vw;
  height: 9vw;
  border-radius: 3vw 3vw 0px 0px;
}

.head {
  top: -3vw;
  width: 3vw;
  height: 3vw;
  border-radius: 3vw;
}

.eye {
  position: absolute;
  top: 0.75vw;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 0.6vw;
}
.eye-left {
  left: 0.6vw;
}
.eye-right {
  right: 0.6vw;
}

.mouth {
  background-color: white;
  top: 2vw;
  left: 0.75vw;
  width: 1.5vw;
  height: 0.5vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.arm {
  top: 0.6vw;
  height: 1.5vw;
  border-radius: 3vw;
}
.arm_left {
  width: 4.5vw;
  right: 1.5vw;
  transform-origin: 3.75vw 50%;
  transform: rotate(0deg);
}
.arm_left-inferior {
  top: 0;
  right: 3vw;
  width: 6vw;
  height: 1.5vw;
  transform-origin: 5.25vw 50%;
  transform: rotate(90deg);
}
.arm_right {
  width: 9vw;
  left: 1.5vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
}

.leg {
  top: 9vw;
  width: 1.35vw;
  height: 7.5vw;
}
.leg_right {
  right: 0;
}

.hello {
  position: absolute;
  background-color: white;
  top: 20%;
  left: 70%;
  border: 10px solid black;
  font-size: 2.1vw;
  padding: 0.5em;
  border-radius: 3vw;
  transform-origin: left;
}
.hello::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -1.5vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 1.5vw 0px 0px;
  border-color: transparent black transparent transparent;
  transform: rotate(-30deg);
}

#ushanka {
  position: absolute;
  z-index: 100;
  top: 15%;
  left: 80%;
  width: 3vw;
  height: 2vw;
  background-color: #000048;
  border-radius: 2vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#ushanka::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.3vw;
  width: 2.4vw;
  height: 1.4vw;
  background-color: grey;
  border-radius: 1.3333333333vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#ushanka > .flap {
  position: absolute;
  top: 2vw;
  width: 0.25vw;
  height: 2.5vw;
  background-color: #000048;
}
#ushanka > .flap-left {
  border-bottom-left-radius: 0.25vw;
}
#ushanka > .flap-left::after {
  content: "";
  position: absolute;
  left: 0.25vw;
  width: 0.25vw;
  height: 2.5vw;
  background-color: grey;
  border-bottom-right-radius: 0.25vw;
}
#ushanka > .flap-right {
  right: 0;
  border-bottom-right-radius: 0.25vw;
}
#ushanka > .flap-right::after {
  content: "";
  position: absolute;
  left: -0.25vw;
  width: 0.25vw;
  height: 2.5vw;
  background-color: grey;
  border-bottom-left-radius: 0.25vw;
}

#snow-coat {
  position: absolute;
  z-index: 100;
  top: 55%;
  left: 80%;
  width: 3vw;
  height: 10.5vw;
  background-color: olive;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}
#snow-coat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.425vw;
  width: 0.15vw;
  height: 10.5vw;
  background-color: black;
}
#snow-coat > #scarf {
  content: "";
  position: absolute;
  top: 0;
  left: 0.3vw;
  width: 2.4vw;
  height: 1.05vw;
  background-color: red;
}
#snow-coat > #scarf::after {
  content: "";
  position: absolute;
  top: 1.05vw;
  left: 1.56vw;
  z-index: 5;
  width: 0.6vw;
  height: 3.5vw;
  background-color: red;
}
#snow-coat > .snow-sleeve {
  position: absolute;
  top: 0.6vw;
  width: 10.5vw;
  height: 1.5vw;
  border-radius: 10.5vw;
  background-color: olive;
}
#snow-coat > .snow-sleeve-left {
  width: 4.5vw;
  right: 1.5vw;
  transform-origin: 3.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#snow-coat > .snow-sleeve-left::after {
  content: "";
  position: absolute;
  background-color: olive;
  top: 0;
  right: 3vw;
  width: 4.2vw;
  height: 1.5vw;
  transform-origin: 3.45vw 50%;
  transform: rotate(90deg);
}
#snow-coat > .snow-sleeve-right {
  width: 7.2vw;
  left: 1.5vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#snow-coat > .snow-pants-leg {
  position: absolute;
  top: 10.5vw;
  width: 1.35vw;
  height: 6vw;
  background-color: blue;
}
#snow-coat > .snow-pants-leg-right {
  right: 0;
}

#shirt {
  position: absolute;
  top: 55%;
  left: 10%;
  width: 3vw;
  height: 9vw;
  background-color: lightgreen;
  border-radius: 3vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#shirt::before {
  content: "";
  z-index: 101;
  position: absolute;
  left: 0.45vw;
  width: 0.6vw;
  box-sizing: content-box;
  border-width: 1.5vw 0.75vw 0;
  border-style: solid;
  border-color: #FFCD94 transparent;
  border-radius: 3vw;
}
#shirt > #apperture {
  position: absolute;
  top: 0;
  z-index: 101;
  left: 1.125vw;
  width: 0.75vw;
  height: 7.2vw;
  background-color: #FFCD94;
}
#shirt > #apperture::after {
  content: "";
  position: absolute;
  top: 7.2vw;
  width: 0.75vw;
  height: 1.89vw;
  background-color: blue;
}
#shirt > .sleeve {
  position: absolute;
  top: 0.6vw;
  height: 1.5vw;
  border-radius: 10.5vw;
  background-color: lightgreen;
}
#shirt > .sleeve-left {
  width: 2.7vw;
  right: 1.5vw;
  transform-origin: 3.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#shirt > .sleeve-right {
  width: 2.7vw;
  left: 1.5vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#short {
  position: absolute;
  top: 9vw;
  width: 3vw;
  height: 1.8vw;
  background-color: blue;
}
#short::before {
  content: "";
  position: absolute;
  top: 0.6vw;
  width: 1.35vw;
  height: 1.8vw;
  background-color: blue;
}
#short::after {
  content: "";
  position: absolute;
  top: 0.6vw;
  right: 0;
  width: 1.35vw;
  height: 1.8vw;
  background-color: blue;
}

#sunglasses {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 3vw;
  height: 0.15vw;
  background-color: black;
}
#sunglasses::before {
  content: "";
  position: absolute;
  left: 0.09vw;
  background-color: black;
  width: 1.2vw;
  height: 0.8vw;
  border-radius: 0.24vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#sunglasses::after {
  content: "";
  position: absolute;
  left: 1.71vw;
  background-color: black;
  width: 1.2vw;
  height: 0.8vw;
  border-radius: 0.24vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#umbrella {
  position: absolute;
  left: 55%;
  top: 10%;
  background-color: purple;
  width: 9vw;
  height: 4.5vw;
  border-top-left-radius: 9vw;
  border-top-right-radius: 9vw;
}
#umbrella > span {
  content: "";
  background-color: white;
  width: 3vw;
  height: 1vw;
  position: absolute;
  top: 3.5vw;
  left: 3vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#umbrella > span::after {
  content: "";
  background-color: white;
  width: 3vw;
  height: 1vw;
  position: absolute;
  left: 3vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#umbrella > span::before {
  content: "";
  background-color: white;
  width: 3vw;
  height: 1vw;
  position: absolute;
  right: 3vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#stick {
  position: absolute;
  width: 0.45vw;
  height: 4.5vw;
  background-color: #793906;
  left: 4.275vw;
  top: 3.5vw;
}
#stick::before {
  content: "";
  position: absolute;
  top: -3.95vw;
  width: 0.45vw;
  height: 0.45vw;
  background-color: #793906;
  border-radius: 0.45vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#crook {
  position: absolute;
  width: 1.8vw;
  height: 0.9vw;
  top: 4.5vw;
  left: -1.35vw;
  background-color: #793906;
  border-radius: 1.8vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#crook::before {
  content: "";
  position: absolute;
  width: 0.9vw;
  height: 0.45vw;
  left: 0.45vw;
  background-color: white;
  border-radius: 1.8vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#crook::after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.45vw;
  width: 0.45vw;
  height: 0.45vw;
  background-color: #793906;
  border-radius: 1.8vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#rain-coat {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 3vw;
  height: 9vw;
  background-color: #e9c500;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}
#rain-coat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.425vw;
  width: 0.15vw;
  height: 9vw;
  background-color: black;
}
#rain-coat > .rain-sleeve {
  position: absolute;
  top: 0.6vw;
  width: 6vw;
  height: 1.5vw;
  border-radius: 6vw;
  background-color: #e9c500;
}
#rain-coat > .rain-sleeve-left {
  width: 4.5vw;
  right: 1.5vw;
  transform-origin: 3.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#rain-coat > .rain-sleeve-left::after {
  content: "";
  position: absolute;
  background-color: #e9c500;
  top: 0;
  right: 3vw;
  width: 4.2vw;
  height: 1.5vw;
  transform-origin: 3.45vw 50%;
  transform: rotate(90deg);
}
#rain-coat > .rain-sleeve-right {
  width: 7.2vw;
  left: 1.5vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#rain-coat > .rain-pants-leg {
  position: absolute;
  top: 9vw;
  width: 1.35vw;
  height: 7.5vw;
  background-color: blue;
}
#rain-coat > .rain-pants-leg-right {
  right: 0;
}
#rain-coat > .rain-pants-leg > .rain-shoe {
  position: absolute;
  bottom: 0;
  width: 1.35vw;
  height: 2.5vw;
  background-color: red;
}
#rain-coat > .rain-pants-leg > .rain-shoe::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1.35vw;
  height: 0.8333333333vw;
  background-color: red;
  border-top: 1px solid black;
  border-top-left-radius: 1.35vw;
  border-top-right-radius: 1.35vw;
}

#rain-hood {
  position: absolute;
  top: -3vw;
  left: 0vw;
  width: 3vw;
  height: 3vw;
  border-radius: 3vw;
  background: radial-gradient(circle at center, transparent 50%, #e9c500 50%);
}

.suit {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 3vw;
  height: 9vw;
  border-radius: 3vw 3vw 0px 0px;
  background-color: black;
}

.suit-shirt {
  position: absolute;
  background-color: black;
  width: 3vw;
  height: 3vw;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

.tie {
  position: absolute;
  top: 0.6vw;
  left: 1.32vw;
  width: 0.36vw;
  height: 1.86vw;
  background-color: red;
}
.tie::before {
  content: "";
  position: absolute;
  top: -0.6vw;
  left: -0.15vw;
  width: 0.6vw;
  height: 0.6vw;
  background-color: red;
  border-radius: 0.6vw;
}
.tie-bottom {
  position: absolute;
  top: 1.86vw;
  width: 0.36vw;
  height: 1.14vw;
}

.suit-sleeve {
  position: absolute;
  top: 0.6vw;
  height: 1.5vw;
  background-color: black;
  border-radius: 9vw;
}
.suit-sleeve_left {
  width: 4.5vw;
  right: 1.5vw;
  transform-origin: 3.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.suit-sleeve_left::after {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  right: 3vw;
  width: 4.2vw;
  height: 1.5vw;
  transform-origin: 3.45vw 50%;
  transform: rotate(90deg);
}
.suit-sleeve_right {
  width: 7.2vw;
  left: 1.5vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.suit-pants-leg {
  position: absolute;
  top: 9vw;
  width: 1.35vw;
  height: 7.5vw;
  background-color: black;
}
.suit-pants-leg-right {
  right: 0;
}
.suit-pants-leg > .suit-shoe {
  position: absolute;
  bottom: 0;
  width: 1.35vw;
  height: 0.75vw;
  background-color: #481d20;
  border-top-left-radius: 1.35vw;
  border-top-right-radius: 1.35vw;
}

body {
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
