/*guy size variables*/
/*decor size variables*/
/*weather-clothes variables*/
@keyframes tornado-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes stage-one-rotation {
  0% {
    transform: rotateY(0deg) rotateX(4deg);
    left: -0.2666666667vw;
  }
  100% {
    transform: rotateY(0deg) rotateX(4deg);
    left: 0.2666666667vw;
  }
}
@keyframes stage-two-rotation {
  0% {
    transform: rotateY(0deg) rotateX(4deg);
    left: -0.2vw;
  }
  100% {
    transform: rotateY(0deg) rotateX(4deg);
    left: 0.2vw;
  }
}
@keyframes stage-three-rotation {
  0% {
    transform: rotateY(0deg) rotateX(4deg);
    left: -0.4vw;
  }
  100% {
    transform: rotateY(0deg) rotateX(4deg);
    left: 0.4vw;
  }
}
.thought__bubble {
  z-index: 1;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 25vw;
  height: 14.2857142857vw;
  border: 0.4761904762vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--tail {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.5vw;
  height: 1.4285714286vw;
  border: 0.2380952381vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--tail::before {
  content: "";
  position: absolute;
  bottom: -0.9523809524vw;
  right: -2.5vw;
  width: 1.6666666667vw;
  height: 0.9523809524vw;
  border: 0.2380952381vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--tail::after {
  content: "";
  position: absolute;
  bottom: -1.9047619048vw;
  right: -4.5454545455vw;
  width: 1.25vw;
  height: 0.7142857143vw;
  border: 0.2380952381vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--text {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 70%;
  font-size: 1.3vw;
}
.thought__bubble--text #cities-datalist {
  margin: 0.25vw 0 0 0;
  width: 100%;
}
.thought__bubble--text #cities-datalist.active #cities-datalist-ul {
  display: block;
}
.thought__bubble--text #cities-datalist-input {
  margin: 0.25vw 0 0 0;
  width: 100%;
  font-size: 1.3vw;
  border-radius: 0.26vw;
}
.thought__bubble--text #cities-datalist-ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  font-size: 1.3vw;
  list-style: none;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
}
.thought__bubble--text #cities-datalist-ul li {
  display: block;
  text-align: left;
  color: #999;
  cursor: pointer;
}
.thought__bubble--text #cities-datalist > p {
  margin: 0.5vw 0 0 0;
  font-size: 1.3vw;
}

.container-forearm {
  z-index: 1;
  position: absolute;
  bottom: 35%;
  right: 10%;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform: rotateX(0deg);
}

.forearm {
  position: absolute;
  width: 7.0125vw;
  height: 28.05vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform: rotate(-50deg) rotateY(180deg) rotateX(0deg);
}
.forearm__face {
  position: absolute;
  width: 7.0125vw;
  height: 28.05vw;
}
.forearm__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.forearm__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.forearm__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(6.5125vw);
  background-color: orange;
}
.forearm__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.forearm__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.forearm__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(27.55vw);
  background-color: green;
}

.palm {
  position: absolute;
  top: -5.5vw;
  left: -0.61875vw;
  width: 8.25vw;
  height: 5.5vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform-origin: left bottom;
  transform: rotate(40deg) rotateY(0deg);
}
.palm__face {
  position: absolute;
  width: 8.25vw;
  height: 5.5vw;
}
.palm__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.palm__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.palm__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(7.75vw);
  background-color: orange;
}
.palm__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.palm__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.palm__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(5vw);
  background-color: green;
}

.thumb {
  position: absolute;
  bottom: 0.75vw;
  left: 0;
  width: 1.5vw;
  height: 6vw;
  transform-origin: bottom;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform: rotate(-90deg) rotateX(90deg) rotateY(-90deg);
}
.thumb .phalanx {
  position: absolute;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
}
.thumb .phalanx_inferior {
  position: absolute;
  bottom: 0;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(0deg) rotateY(0deg);
}
.thumb .phalanx_middle {
  position: absolute;
  top: -3vw;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(90deg) rotateY(0deg);
}

.finger {
  position: absolute;
  top: -9vw;
  width: 1.5vw;
  height: 9vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform-origin: bottom;
  transform: rotateX(0deg) rotateY(0deg);
}

.index {
  left: 0;
}

.middle {
  left: 2.25vw;
}

.ring {
  left: 4.5vw;
}

.little {
  left: 6.75vw;
}

.phalanx {
  position: absolute;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
}
.phalanx_inferior {
  position: absolute;
  bottom: 0;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(0deg) rotateY(0deg);
}
.phalanx_middle {
  position: absolute;
  top: -3vw;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(90deg) rotateY(0deg);
}
.phalanx_superior {
  position: absolute;
  top: -3vw;
  width: 1.5vw;
  height: 3vw;
  transform: rotateX(90deg) rotateY(0deg);
}
.phalanx__face {
  position: absolute;
  width: 1.5vw;
  height: 3vw;
}
.phalanx__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.phalanx__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.phalanx__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(1vw);
  background-color: orange;
}
.phalanx__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.phalanx__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.phalanx__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(2.5vw);
  background-color: green;
}

.nail {
  position: absolute;
  top: 0;
  left: 0.15vw;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: pink;
}

.remote-control {
  position: absolute;
  top: -10vw;
  left: 0;
  width: 7vw;
  height: 21vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 2100vw;
  background-color: black;
  transform: rotate(-90deg) translateZ(-2vw);
}
.remote-control::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 7vw;
  height: 2.1vw;
  transform-origin: bottom;
  background-color: grey;
  transform: rotateX(-90deg);
}

.remote-button {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 1.4vw;
  height: 1.4vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 140vw;
  transform: translateZ(-0.7vw);
}
.remote-button-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 100%;
  border: 1px solid;
}
.remote-button-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 100%;
  transform: rotateY(180deg) translateZ(-0.7vw);
}
.remote-button-center {
  position: absolute;
  left: 0.7vw;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-0.7vw);
}

.remote-button-center div {
  position: absolute;
  height: 0.7vw;
  transform-style: preserve-3d;
  background-color: red;
}

.wall-front {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40vw;
  height: 22.5vw;
  background-color: red;
}

.ceiling {
  position: absolute;
  bottom: 22.5vw;
  left: -30vw;
  width: 100vw;
  height: 100vh;
  background-color: purple;
}

.floor {
  position: absolute;
  top: 22.5vw;
  left: -30vw;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

.wall-left {
  position: absolute;
  top: 10%;
  right: 70%;
  width: 100vw;
  height: 22.5vw;
  background-color: blue;
  transform-origin: right;
  transform: perspective(100vw) rotateY(80deg);
}
.wall-left::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8vw;
  height: 20.25vw;
  background-color: #b24018;
}
.wall-left::after {
  content: "";
  position: absolute;
  top: 11.25vw;
  right: 6.875vw;
  width: 1.125vw;
  height: 1.125vw;
  border-radius: 1.125vw;
  background-color: black;
}

.wall-right {
  position: absolute;
  top: 10%;
  left: 70%;
  width: 100vw;
  height: 22.5vw;
  background-color: green;
  transform-origin: left;
  transform: perspective(100vw) rotateY(-80deg);
}

.flat-screen {
  position: absolute;
  bottom: 3.4545454545vw;
  left: 20%;
  width: 20vw;
  height: 10vw;
  background-color: black;
  border-radius: 1%;
}
.flat-screen-support {
  position: absolute;
  top: 11vw;
  left: 5vw;
  width: 10vw;
  height: 0.5vw;
  background-color: black;
}
.flat-screen-support::after {
  content: "";
  position: absolute;
  top: -1vw;
  left: 4.5vw;
  width: 1vw;
  height: 0.9090909091vw;
  background-color: black;
}
.flat-screen-support::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10vw;
  height: 0.5vw;
  background-color: grey;
  transform-origin: top;
  transform: perspective(10vw) rotateX(250deg);
}

.screen {
  position: absolute;
  top: 0.5vw;
  left: 0.6666666667vw;
  width: 18.6666666667vw;
  height: 9vw;
  background-color: grey;
  border-radius: 1%;
}

.tv-stand {
  position: absolute;
  bottom: -1.8181818182vw;
  left: 20%;
  width: 20vw;
  height: 3.6363636364vw;
  background-color: #a38659;
  border-radius: 0.5vw;
  border: 1px solid;
}
.tv-stand::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 3.6363636364vw;
  background-color: #a38659;
  border-radius: 0.5vw;
  transform-origin: top;
  transform: perspective(5vw) rotateX(250deg);
}

.drawer {
  position: absolute;
  width: 6.6666666667vw;
  height: 1.4545454545vw;
  border: 1px solid;
}
.drawer::before {
  content: "";
  position: absolute;
  top: 0.7272727273vw;
  left: 2.2222222222vw;
  width: 2.2222222222vw;
  height: 0.1454545455vw;
  background-color: black;
}
.drawer-1 {
  top: 0.3636363636vw;
  left: 0.2vw;
}
.drawer-2 {
  top: 1.8181818182vw;
  left: 0.2vw;
}
.drawer-3 {
  top: 0.3636363636vw;
  right: 0.2vw;
}
.drawer-4 {
  top: 1.8181818182vw;
  right: 0.2vw;
}

.shelf {
  position: absolute;
  left: 7.5vw;
  width: 5vw;
  height: 1.0909090909vw;
  background-color: black;
}
.shelf::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 5vw;
  height: 1.0909090909vw;
  background: #a38659;
  transform-origin: bottom;
  transform: perspective(5vw) rotateX(70deg);
}
.shelf-1 {
  top: 0.3636363636vw;
}
.shelf-2 {
  bottom: 0.3636363636vw;
}

.sky {
  background: #00BFFF;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.sun {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  background-color: yellow;
  border-radius: 1.5vw;
  top: 0;
  right: 0;
}
.sun_eye {
  position: absolute;
  top: 0.5vw;
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 0.25vw;
  background-color: black;
}
.sun_eye-left {
  left: 0.25vw;
}
.sun_eye-right {
  right: 0.25vw;
}
.sun_mouth {
  position: absolute;
  top: 1vw;
  left: 0.375vw;
  width: 0.75vw;
  height: 0.3vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.ground {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}
.ground > .grass {
  width: 100%;
  height: 100%;
  background: #269627;
}
.ground > .road {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ground > .road > .road-status {
  position: absolute;
  left: 45%;
  background-color: brown;
}

.moon {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  background-color: #d7d7d7;
  border-radius: 1.5vw;
}
.moon_eye {
  position: absolute;
  top: 0.5vw;
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 0.25vw;
  background-color: black;
}
.moon_eye-left {
  left: 0.25vw;
}
.moon_eye-right {
  right: 0.25vw;
}
.moon_mouth {
  position: absolute;
  top: 1vw;
  left: 0.375vw;
  width: 0.75vw;
  height: 0.3vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}
.moon_crater1 {
  position: absolute;
  top: 0.15vw;
  left: 0.3vw;
  width: 0.3vw;
  height: 0.3vw;
  border-radius: 0.3vw;
  background-color: #b6b6b6;
  transform: skewY(-15deg);
}
.moon_crater2 {
  position: absolute;
  top: 1.2vw;
  left: 0.3vw;
  width: 0.2142857143vw;
  height: 0.2142857143vw;
  border-radius: 0.2142857143vw;
  background-color: #b6b6b6;
  transform: skewX(30deg);
}
.moon_crater3 {
  position: absolute;
  top: 0.1875vw;
  left: 1.125vw;
  width: 0.2142857143vw;
  height: 0.2142857143vw;
  border-radius: 0.3vw;
  background-color: #b6b6b6;
  transform: skew(10deg, 10deg) rotate(0.75turn);
}

.cloud {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 1vw;
  width: 3vw;
  background: white;
  border-radius: 1vw;
}
.cloud::before {
  content: "";
  position: absolute;
  top: -0.3333333333vw;
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  left: 0.5vw;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background: white;
  transform: rotate(40deg);
}
.cloud::after {
  content: "";
  position: absolute;
  height: 1.5vw;
  width: 1.5vw;
  top: -0.5vw;
  left: 1vw;
  border-radius: 50%;
  box-sizing: border-box;
  border-bottom-color: transparent;
  background: white;
  border-right-color: transparent;
  transform: rotate(55deg);
}
.cloud_eye {
  position: absolute;
  top: 0;
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 0.25vw;
  background-color: black;
}
.cloud_eye-left {
  left: 0.75vw;
}
.cloud_eye-right {
  z-index: 2;
  right: 0.75vw;
}
.cloud_mouth {
  z-index: 2;
  position: absolute;
  top: 0.5vw;
  left: 1.125vw;
  width: 0.75vw;
  height: 0.3vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.thunder {
  position: absolute;
  top: 1vw;
  left: 1.125vw;
  width: 0.375vw;
  height: 0.46875vw;
  background-color: yellow;
  transform: skew(-40deg);
}
.thunder::before {
  content: "";
  position: absolute;
  top: 0.3125vw;
  left: 0.375vw;
  width: 0.375vw;
  height: 0.46875vw;
  background-color: yellow;
}
.thunder::after {
  content: "";
  position: absolute;
  top: 0.78125vw;
  left: 0.375vw;
  border-style: solid;
  border-width: 0 0 0.234375vw 0.375vw;
  border-color: transparent transparent transparent yellow;
}

.stage {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 10vw;
  transform-style: preserve-3d;
  transform: rotateX(5deg) rotateY(45deg) translate3d(100vw, 10%, 50px);
}

.one {
  animation: 3s linear alternate infinite stage-one-rotation;
}

.two {
  animation: 1s linear alternate infinite stage-two-rotation;
}

.three {
  animation: 3s linear alternate infinite stage-three-rotation;
}

.tornado {
  position: absolute;
  top: 10%;
  left: 35%;
}

.tornado-parts {
  transform-style: preserve-3d;
  animation: 2s infinite linear tornado-spin;
}

.tornado-parts > div {
  position: absolute;
  height: 0.4vw;
  background: grey;
  transform-style: preserve-3d;
  overflow: hidden;
}

.tornado-parts-2 > div {
  top: 0.56vw;
}

.tornado-parts-3 > div {
  top: 1.12vw;
}

.tornado-parts-4 > div {
  top: 1.68vw;
}

.tornado-parts-5 > div {
  top: 2.24vw;
}

.tornado-parts-6 > div {
  top: 2.8vw;
}

.tornado-eye {
  position: absolute;
  top: 0.1148vw;
  height: 0.1704vw;
  width: 0.1704vw;
  background-color: black;
  border-radius: 0.1704vw;
}
.tornado-eye-1 {
  left: 0;
}
.tornado-eye-2 {
  left: 0;
}

.tornado-mouth {
  position: absolute;
  top: 0.129vw;
  height: 0.2vw;
  width: 0.71vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}
.tornado-mouth-2 {
  left: -0.142vw;
}
.tornado-mouth-3 {
  left: -0.284vw;
}
.tornado-mouth-4 {
  left: -0.426vw;
}
.tornado-mouth-5 {
  left: -0.568vw;
}

.volcano {
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 4vw;
  height: 1.3333333333vw;
  overflow: hidden;
}
.volcano_eye {
  position: absolute;
  top: 0.6666666667vw;
  width: 0.25vw;
  height: 0.25vw;
  border-radius: 0.25vw;
  background-color: black;
}
.volcano_eye-left {
  left: 1.6vw;
}
.volcano_eye-right {
  right: 1.6vw;
}
.volcano_mouth {
  position: absolute;
  top: 1vw;
  left: 1.6vw;
  width: 0.75vw;
  height: 0.3vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.volcano-tube {
  position: absolute;
  left: 1.6vw;
  width: 0.8vw;
  height: 1.3333333333vw;
  background-color: #9c4110;
}
.volcano-tube::before {
  content: "";
  position: absolute;
  top: -4vw;
  left: -1.6vw;
  width: 1.6vw;
  height: 5.3333333333vw;
  background-color: transparent;
  border-bottom-right-radius: 1.3333333333vw;
  box-shadow: 0 1.3333333333vw 0 0 #9c4110;
}
.volcano-tube::after {
  content: "";
  position: absolute;
  top: -4vw;
  left: 0.8vw;
  width: 1.6vw;
  height: 5.3333333333vw;
  background-color: transparent;
  border-bottom-left-radius: 1.3333333333vw;
  box-shadow: 0 1.3333333333vw 0 0 #9c4110;
}

.lava {
  position: absolute;
  width: 0.8vw;
  height: 0.1666666667vw;
  background-color: red;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lava-flow-1 {
  position: absolute;
  left: 0.2vw;
  background-color: red;
  width: 0.16vw;
  height: 0.6666666667vw;
  border-radius: 0.6666666667vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lava-flow-1::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.1416666667vw;
  right: 0.16vw;
  height: 0.6666666667vw;
  width: 0.08vw;
  border-top-right-radius: 25px;
  box-shadow: 0 -0.3333333333vw 0 0 red;
}
.lava-flow-1::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.1666666667vw;
  left: 0.16vw;
  height: 0.6666666667vw;
  width: 0.08vw;
  border-top-left-radius: 25px;
  box-shadow: 0 -0.3333333333vw 0 0 red;
}
.lava-flow-2 {
  position: absolute;
  left: 0.5333333333vw;
  background-color: red;
  width: 0.16vw;
  height: 0.4444444444vw;
  border-radius: 0.6666666667vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lava-flow-2::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.1666666667vw;
  right: 0.16vw;
  height: 0.6666666667vw;
  width: 0.08vw;
  border-top-right-radius: 25px;
  box-shadow: 0 -0.3333333333vw 0 0 red;
}
.lava-flow-2::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.1166666667vw;
  left: 0.16vw;
  height: 0.6666666667vw;
  width: 0.08vw;
  border-top-left-radius: 25px;
  box-shadow: 0 -0.3333333333vw 0 0 red;
}

.water-drop {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 1vw;
  height: 1vw;
  background-color: lightblue;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

.snowflake {
  position: absolute;
  top: 5%;
  left: 70%;
  background-color: red;
}
.snowflake-branch-n {
  position: absolute;
  width: 0.1vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: white;
}
.snowflake-branch-n::before {
  content: "";
  position: absolute;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: bottom;
  transform: rotate(-45deg);
}
.snowflake-branch-n::after {
  content: "";
  position: absolute;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: bottom;
  transform: rotate(45deg);
}
.snowflake-branch-s {
  position: absolute;
  top: 1vw;
  width: 0.1vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: white;
}
.snowflake-branch-s::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-s::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-nw {
  position: absolute;
  top: 1vw;
  width: 0.1vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(120deg);
}
.snowflake-branch-nw::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-nw::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-ne {
  position: absolute;
  top: 1vw;
  width: 0.1vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-120deg);
}
.snowflake-branch-ne::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-ne::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-se {
  position: absolute;
  top: 1vw;
  width: 0.1vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-60deg);
}
.snowflake-branch-se::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-se::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-sw {
  position: absolute;
  top: 1vw;
  width: 0.1vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(60deg);
}
.snowflake-branch-sw::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-sw::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1vw;
  height: 0.4vw;
  border-radius: 1vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}

.body, .head, .arm, .leg {
  position: absolute;
  background-color: #FFCD94;
}

.eye, .mouth {
  position: absolute;
  background-color: white;
}

.body {
  top: 55%;
  left: 50%;
  width: 0.6vw;
  height: 1.8vw;
  border-radius: 0.6vw 0.6vw 0px 0px;
}

.head {
  top: -0.6vw;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 0.6vw;
}

.eye {
  position: absolute;
  top: 0.15vw;
  width: 0.12vw;
  height: 0.12vw;
  border-radius: 0.12vw;
}
.eye-left {
  left: 0.12vw;
}
.eye-right {
  right: 0.12vw;
}

.mouth {
  background-color: white;
  top: 0.4vw;
  left: 0.15vw;
  width: 0.3vw;
  height: 0.1vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.arm {
  top: 0.12vw;
  height: 0.3vw;
  border-radius: 0.6vw;
}
.arm_left {
  width: 0.9vw;
  right: 0.3vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
}
.arm_left-inferior {
  top: 0;
  right: 0.6vw;
  width: 1.2vw;
  height: 0.3vw;
  transform-origin: 1.05vw 50%;
  transform: rotate(90deg);
}
.arm_right {
  width: 1.8vw;
  left: 0.3vw;
  transform-origin: 0.15vw 50%;
  transform: rotate(0deg);
}

.leg {
  top: 1.8vw;
  width: 0.27vw;
  height: 1.5vw;
}
.leg_right {
  right: 0;
}

.hello {
  position: absolute;
  background-color: white;
  top: 60%;
  left: 30%;
  border: 10px solid black;
  font-size: 0.42vw;
  padding: 0.5em;
  border-radius: 0.6vw;
  transform-origin: left;
}
.hello::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -0.3vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.3vw 0.3vw 0px 0px;
  border-color: transparent black transparent transparent;
  transform: rotate(-30deg);
}

#ushanka {
  position: absolute;
  z-index: 100;
  top: 45%;
  left: 80%;
  width: 0.6vw;
  height: 0.4vw;
  background-color: #000048;
  border-radius: 0.4vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#ushanka::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.06vw;
  width: 0.48vw;
  height: 0.28vw;
  background-color: grey;
  border-radius: 0.2666666667vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#ushanka > .flap {
  position: absolute;
  top: 0.4vw;
  width: 0.05vw;
  height: 0.5vw;
  background-color: #000048;
}
#ushanka > .flap-left {
  border-bottom-left-radius: 0.05vw;
}
#ushanka > .flap-left::after {
  content: "";
  position: absolute;
  left: 0.05vw;
  width: 0.05vw;
  height: 0.5vw;
  background-color: grey;
  border-bottom-right-radius: 0.05vw;
}
#ushanka > .flap-right {
  right: 0;
  border-bottom-right-radius: 0.05vw;
}
#ushanka > .flap-right::after {
  content: "";
  position: absolute;
  left: -0.05vw;
  width: 0.05vw;
  height: 0.5vw;
  background-color: grey;
  border-bottom-left-radius: 0.05vw;
}

#snow-coat {
  position: absolute;
  z-index: 100;
  top: 55%;
  left: 80%;
  width: 0.6vw;
  height: 2.1vw;
  background-color: olive;
  border-top-left-radius: 0.6vw;
  border-top-right-radius: 0.6vw;
}
#snow-coat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.285vw;
  width: 0.03vw;
  height: 2.1vw;
  background-color: black;
}
#snow-coat > #scarf {
  content: "";
  position: absolute;
  top: 0;
  left: 0.06vw;
  width: 0.48vw;
  height: 0.21vw;
  background-color: red;
}
#snow-coat > #scarf::after {
  content: "";
  position: absolute;
  top: 0.21vw;
  left: 0.312vw;
  z-index: 5;
  width: 0.12vw;
  height: 0.7vw;
  background-color: red;
}
#snow-coat > .snow-sleeve {
  position: absolute;
  top: 0.12vw;
  width: 2.1vw;
  height: 0.3vw;
  border-radius: 2.1vw;
  background-color: olive;
}
#snow-coat > .snow-sleeve-left {
  width: 0.9vw;
  right: 0.3vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#snow-coat > .snow-sleeve-left::after {
  content: "";
  position: absolute;
  background-color: olive;
  top: 0;
  right: 0.6vw;
  width: 0.84vw;
  height: 0.3vw;
  transform-origin: 0.69vw 50%;
  transform: rotate(90deg);
}
#snow-coat > .snow-sleeve-right {
  width: 1.44vw;
  left: 0.3vw;
  transform-origin: 0.15vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#snow-coat > .snow-pants-leg {
  position: absolute;
  top: 2.1vw;
  width: 0.27vw;
  height: 1.2vw;
  background-color: blue;
}
#snow-coat > .snow-pants-leg-right {
  right: 0;
}

#shirt {
  position: absolute;
  top: 55%;
  left: 10%;
  width: 0.6vw;
  height: 1.8vw;
  background-color: lightgreen;
  border-radius: 0.6vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#shirt::before {
  content: "";
  z-index: 101;
  position: absolute;
  left: 0.09vw;
  width: 0.12vw;
  box-sizing: content-box;
  border-width: 0.3vw 0.15vw 0;
  border-style: solid;
  border-color: #FFCD94 transparent;
  border-radius: 0.6vw;
}
#shirt > #apperture {
  position: absolute;
  top: 0;
  z-index: 101;
  left: 0.225vw;
  width: 0.15vw;
  height: 1.44vw;
  background-color: #FFCD94;
}
#shirt > #apperture::after {
  content: "";
  position: absolute;
  top: 1.44vw;
  width: 0.15vw;
  height: 0.378vw;
  background-color: blue;
}
#shirt > .sleeve {
  position: absolute;
  top: 0.12vw;
  height: 0.3vw;
  border-radius: 2.1vw;
  background-color: lightgreen;
}
#shirt > .sleeve-left {
  width: 0.54vw;
  right: 0.3vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#shirt > .sleeve-right {
  width: 0.54vw;
  left: 0.3vw;
  transform-origin: 0.15vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#short {
  position: absolute;
  top: 1.8vw;
  width: 0.6vw;
  height: 0.36vw;
  background-color: blue;
}
#short::before {
  content: "";
  position: absolute;
  top: 0.12vw;
  width: 0.27vw;
  height: 0.36vw;
  background-color: blue;
}
#short::after {
  content: "";
  position: absolute;
  top: 0.12vw;
  right: 0;
  width: 0.27vw;
  height: 0.36vw;
  background-color: blue;
}

#sunglasses {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 0.6vw;
  height: 0.03vw;
  background-color: black;
}
#sunglasses::before {
  content: "";
  position: absolute;
  left: 0.018vw;
  background-color: black;
  width: 0.24vw;
  height: 0.16vw;
  border-radius: 0.048vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#sunglasses::after {
  content: "";
  position: absolute;
  left: 0.342vw;
  background-color: black;
  width: 0.24vw;
  height: 0.16vw;
  border-radius: 0.048vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#umbrella {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: purple;
  width: 1.8vw;
  height: 0.9vw;
  border-top-left-radius: 1.8vw;
  border-top-right-radius: 1.8vw;
}
#umbrella > span {
  content: "";
  background-color: white;
  width: 0.6vw;
  height: 0.2vw;
  position: absolute;
  top: 0.7vw;
  left: 0.6vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#umbrella > span::after {
  content: "";
  background-color: white;
  width: 0.6vw;
  height: 0.2vw;
  position: absolute;
  left: 0.6vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#umbrella > span::before {
  content: "";
  background-color: white;
  width: 0.6vw;
  height: 0.2vw;
  position: absolute;
  right: 0.6vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#stick {
  position: absolute;
  width: 0.09vw;
  height: 0.9vw;
  background-color: #793906;
  left: 0.855vw;
  top: 0.7vw;
}
#stick::before {
  content: "";
  position: absolute;
  top: -0.79vw;
  width: 0.09vw;
  height: 0.09vw;
  background-color: #793906;
  border-radius: 0.09vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#crook {
  position: absolute;
  width: 0.36vw;
  height: 0.18vw;
  top: 0.9vw;
  left: -0.27vw;
  background-color: #793906;
  border-radius: 0.36vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#crook::before {
  content: "";
  position: absolute;
  width: 0.18vw;
  height: 0.09vw;
  left: 0.09vw;
  background-color: white;
  border-radius: 0.36vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#crook::after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.09vw;
  width: 0.09vw;
  height: 0.09vw;
  background-color: #793906;
  border-radius: 0.36vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#rain-coat {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 0.6vw;
  height: 1.8vw;
  background-color: #e9c500;
  border-top-left-radius: 0.6vw;
  border-top-right-radius: 0.6vw;
}
#rain-coat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.285vw;
  width: 0.03vw;
  height: 1.8vw;
  background-color: black;
}
#rain-coat > .rain-sleeve {
  position: absolute;
  top: 0.12vw;
  width: 1.2vw;
  height: 0.3vw;
  border-radius: 1.2vw;
  background-color: #e9c500;
}
#rain-coat > .rain-sleeve-left {
  width: 0.9vw;
  right: 0.3vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#rain-coat > .rain-sleeve-left::after {
  content: "";
  position: absolute;
  background-color: #e9c500;
  top: 0;
  right: 0.6vw;
  width: 0.84vw;
  height: 0.3vw;
  transform-origin: 0.69vw 50%;
  transform: rotate(90deg);
}
#rain-coat > .rain-sleeve-right {
  width: 1.44vw;
  left: 0.3vw;
  transform-origin: 0.15vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#rain-coat > .rain-pants-leg {
  position: absolute;
  top: 1.8vw;
  width: 0.27vw;
  height: 1.5vw;
  background-color: blue;
}
#rain-coat > .rain-pants-leg-right {
  right: 0;
}
#rain-coat > .rain-pants-leg > .rain-shoe {
  position: absolute;
  bottom: 0;
  width: 0.27vw;
  height: 0.5vw;
  background-color: red;
}
#rain-coat > .rain-pants-leg > .rain-shoe::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.27vw;
  height: 0.1666666667vw;
  background-color: red;
  border-top: 1px solid black;
  border-top-left-radius: 0.27vw;
  border-top-right-radius: 0.27vw;
}

#rain-hood {
  position: absolute;
  top: -0.6vw;
  left: 0vw;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 0.6vw;
  background: radial-gradient(circle at center, transparent 50%, #e9c500 50%);
}

.suit {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 0.6vw;
  height: 1.8vw;
  border-radius: 0.6vw 0.6vw 0px 0px;
  background-color: black;
}

.suit-shirt {
  position: absolute;
  background-color: black;
  width: 0.6vw;
  height: 0.6vw;
  border-top-left-radius: 0.6vw;
  border-top-right-radius: 0.6vw;
}

.tie {
  position: absolute;
  top: 0.12vw;
  left: 0.264vw;
  width: 0.072vw;
  height: 0.372vw;
  background-color: red;
}
.tie::before {
  content: "";
  position: absolute;
  top: -0.12vw;
  left: -0.03vw;
  width: 0.12vw;
  height: 0.12vw;
  background-color: red;
  border-radius: 0.12vw;
}
.tie-bottom {
  position: absolute;
  top: 0.372vw;
  width: 0.072vw;
  height: 0.228vw;
}

.suit-sleeve {
  position: absolute;
  top: 0.12vw;
  height: 0.3vw;
  background-color: black;
  border-radius: 1.8vw;
}
.suit-sleeve_left {
  width: 0.9vw;
  right: 0.3vw;
  transform-origin: 0.75vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.suit-sleeve_left::after {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  right: 0.6vw;
  width: 0.84vw;
  height: 0.3vw;
  transform-origin: 0.69vw 50%;
  transform: rotate(90deg);
}
.suit-sleeve_right {
  width: 1.44vw;
  left: 0.3vw;
  transform-origin: 0.15vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.suit-pants-leg {
  position: absolute;
  top: 1.8vw;
  width: 0.27vw;
  height: 1.5vw;
  background-color: black;
}
.suit-pants-leg-right {
  right: 0;
}
.suit-pants-leg > .suit-shoe {
  position: absolute;
  bottom: 0;
  width: 0.27vw;
  height: 0.15vw;
  background-color: #481d20;
  border-top-left-radius: 0.27vw;
  border-top-right-radius: 0.27vw;
}

body {
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
