/*guy size variables*/
/*decor size variables*/
/*weather-clothes variables*/
@keyframes tornado-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes stage-one-rotation {
  0% {
    transform: rotateY(0deg) rotateX(4deg);
    left: -0.4666666667vw;
  }
  100% {
    transform: rotateY(0deg) rotateX(4deg);
    left: 0.4666666667vw;
  }
}
@keyframes stage-two-rotation {
  0% {
    transform: rotateY(0deg) rotateX(4deg);
    left: -0.35vw;
  }
  100% {
    transform: rotateY(0deg) rotateX(4deg);
    left: 0.35vw;
  }
}
@keyframes stage-three-rotation {
  0% {
    transform: rotateY(0deg) rotateX(4deg);
    left: -0.7vw;
  }
  100% {
    transform: rotateY(0deg) rotateX(4deg);
    left: 0.7vw;
  }
}
@keyframes thumb-click {
  0% {
    transform: rotate(180deg) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotate(140deg) rotateX(50deg) rotateY(0deg);
  }
}
@keyframes tumb-middle-click {
  0% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(10deg) rotateY(0deg);
  }
}
@keyframes remote-inclination {
  0% {
    transform: rotateX(0deg) rotateY(0deg) translateZ(3.4vw);
  }
  100% {
    transform: rotateX(0deg) rotateY(40deg) translateZ(3.4vw) translateX(-3vw);
  }
}
@keyframes phalanx-inferior-loosen {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(20deg);
  }
}
@keyframes phalanx-middle-loosen {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(50deg);
  }
}
@keyframes phalanx-superior-loosen {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(40deg);
  }
}
.thought__bubble {
  z-index: 1;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 25vw;
  height: 14.2857142857vw;
  border: 0.4761904762vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--tail {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.5vw;
  height: 1.4285714286vw;
  border: 0.2380952381vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--tail::before {
  content: "";
  position: absolute;
  bottom: -0.9523809524vw;
  right: -2.5vw;
  width: 1.6666666667vw;
  height: 0.9523809524vw;
  border: 0.2380952381vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--tail::after {
  content: "";
  position: absolute;
  bottom: -1.9047619048vw;
  right: -4.5454545455vw;
  width: 1.25vw;
  height: 0.7142857143vw;
  border: 0.2380952381vw solid;
  border-radius: 50%;
  background-color: white;
}
.thought__bubble--text {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 70%;
  font-size: 1.3vw;
}
.thought__bubble--text #cities-datalist {
  margin: 0.25vw 0 0 0;
  width: 100%;
}
.thought__bubble--text #cities-datalist.active #cities-datalist-ul {
  display: block;
}
.thought__bubble--text #cities-datalist-input {
  margin: 0.25vw 0 0 0;
  width: 100%;
  font-size: 1.3vw;
  border-radius: 0.26vw;
}
.thought__bubble--text #cities-datalist-ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  font-size: 1.3vw;
  list-style: none;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
}
.thought__bubble--text #cities-datalist-ul li {
  display: block;
  text-align: left;
  color: #999;
  cursor: pointer;
}
.thought__bubble--text #cities-datalist > p {
  margin: 0.5vw 0 0 0;
  font-size: 1.3vw;
}

.container-forearm {
  z-index: 1;
  position: absolute;
  bottom: 35%;
  right: 10%;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform: rotateX(20deg) rotateY(0deg);
}

.forearm {
  position: absolute;
  width: 7.0125vw;
  height: 28.05vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform: rotate(-50deg) rotateY(180deg) rotateX(0deg);
}
.forearm__face {
  position: absolute;
  width: 7.0125vw;
  height: 28.05vw;
}
.forearm__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.forearm__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.forearm__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(6.5125vw);
  background-color: orange;
}
.forearm__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.forearm__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.forearm__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(27.55vw);
  background-color: green;
}

.palm {
  position: absolute;
  top: -5.5vw;
  left: -0.61875vw;
  width: 8.25vw;
  height: 5.5vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform-origin: left bottom;
  transform: rotate(40deg) rotateY(0deg);
}
.palm__face {
  position: absolute;
  width: 8.25vw;
  height: 5.5vw;
}
.palm__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.palm__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.palm__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(7.75vw);
  background-color: orange;
}
.palm__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.palm__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.palm__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(5vw);
  background-color: green;
}

.thumb {
  position: absolute;
  bottom: 0.75vw;
  left: 0;
  width: 1.5vw;
  height: 7.5vw;
  transform-origin: bottom;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform: rotate(180deg) rotateX(0deg) rotateY(0deg);
  animation: 5s infinite;
}
.thumb .phalanx {
  position: absolute;
  width: 1.5vw;
  height: 3.75vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
}
.thumb .phalanx_inferior {
  position: absolute;
  bottom: 0;
  width: 1.5vw;
  height: 3.75vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(90deg) rotateY(0deg);
}
.thumb .phalanx_middle {
  position: absolute;
  top: -3.75vw;
  width: 1.5vw;
  height: 3.75vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(90deg) rotateY(0deg);
  animation: 5s infinite;
}
.thumb .phalanx__face {
  position: absolute;
  width: 1.5vw;
  height: 3.75vw;
}
.thumb .phalanx__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.thumb .phalanx__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.thumb .phalanx__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(1vw);
  background-color: orange;
}
.thumb .phalanx__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.thumb .phalanx__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.thumb .phalanx__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(2.5vw);
  background-color: green;
}

.finger {
  position: absolute;
  top: -9vw;
  width: 1.5vw;
  height: 9vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 825vw;
  transform-origin: bottom;
  transform: rotateX(0deg) rotateY(0deg);
}

.index {
  left: 0;
}

.middle {
  left: 2.25vw;
}

.ring {
  left: 4.5vw;
}

.little {
  left: 6.75vw;
}

.phalanx {
  position: absolute;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
}
.phalanx_inferior {
  position: absolute;
  bottom: 0;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(0deg) rotateY(0deg);
  animation: phalanx-inferior-loosen 1s linear forwards;
}
.phalanx_middle {
  position: absolute;
  top: -3vw;
  width: 1.5vw;
  height: 3vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 300vw;
  transform-origin: bottom;
  transform: rotateX(90deg) rotateY(0deg);
  animation: phalanx-middle-loosen 1s linear forwards;
}
.phalanx_superior {
  position: absolute;
  top: -3vw;
  width: 1.5vw;
  height: 3vw;
  transform: rotateX(90deg) rotateY(0deg);
  animation: phalanx-superior-loosen 1s linear forwards;
}
.phalanx__face {
  position: absolute;
  width: 1.5vw;
  height: 3vw;
}
.phalanx__face--front {
  background-color: blue;
  transform: translateZ(0.5vw);
}
.phalanx__face--back {
  transform: rotateY(180deg) translateZ(0.5vw);
  background-color: grey;
}
.phalanx__face--right {
  width: 1vw;
  transform: rotateY(90deg) translateZ(1vw);
  background-color: orange;
}
.phalanx__face--left {
  width: 1vw;
  transform: rotateY(-90deg) translateZ(0.5vw);
  background-color: purple;
}
.phalanx__face--top {
  height: 1vw;
  transform: rotateX(90deg) translateZ(0.5vw);
  background-color: red;
}
.phalanx__face--bottom {
  height: 1vw;
  transform: rotateX(-90deg) translateZ(2.5vw);
  background-color: green;
}

.nail {
  position: absolute;
  top: 0;
  left: 0.15vw;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: pink;
}

.remote-control {
  position: absolute;
  top: -4.8vw;
  left: -12.375vw;
  width: 6vw;
  height: 24vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 2400vw;
  background-color: black;
  transform: rotate(0deg) translateZ(1vw);
  animation: remote-inclination 1s linear forwards;
}
.remote-control::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 6vw;
  height: 2.4vw;
  transform-origin: bottom;
  background-color: grey;
  transform: rotateX(90deg);
}

.remote-button {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 1.2vw;
  height: 1.2vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 120vw;
  transform: translateZ(0.6vw);
}
.remote-button-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 100%;
  border: 1px solid;
}
.remote-button-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 100%;
  transform: rotateY(180deg) translateZ(-0.6vw);
}
.remote-button-center {
  position: absolute;
  left: 0.6vw;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-0.6vw);
}

.remote-button-center div {
  position: absolute;
  height: 0.6vw;
  transform-style: preserve-3d;
  background-color: red;
}

.room {
  position: absolute;
  width: 100vw;
  height: 50vw;
  perspective-origin: 45% 20%;
  transform-style: preserve-3d;
  perspective: 100vw;
}

.wall {
  position: absolute;
  width: 100vw;
  height: 50vw;
}

.front {
  background-color: red;
  transform: rotateY(180deg) translateZ(50vw);
}

.ceiling {
  height: 100vw;
  background-color: purple;
  transform: rotateX(90deg) translateZ(50vw);
}

.floor {
  height: 100vw;
  background-color: yellow;
  transform: rotateX(-90deg) translateZ(0vw);
}

.right {
  width: 100vw;
  background-color: green;
  transform: rotateY(90deg) translateZ(50vw);
}

.left {
  width: 100vw;
  background-color: blue;
  transform: rotateY(-90deg) translateZ(50vw);
}
.left::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14.2857142857vw;
  height: 45vw;
  background-color: #b24018;
}
.left::after {
  content: "";
  position: absolute;
  top: 25vw;
  left: 0;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 2.5vw;
  background-color: black;
}

.flat-screen {
  position: absolute;
  bottom: 17.4659090909vw;
  left: 27.5%;
  width: 35vw;
  height: 17.5vw;
  background-color: black;
  border-radius: 1%;
  transform: translateZ(-42.5vw);
}
.flat-screen-support {
  position: absolute;
  top: 19.25vw;
  left: 8.75vw;
  width: 17.5vw;
  height: 0.875vw;
  background-color: black;
}
.flat-screen-support::after {
  content: "";
  position: absolute;
  top: -1.75vw;
  left: 7.875vw;
  width: 1.75vw;
  height: 1.5909090909vw;
  background-color: black;
}
.flat-screen-support::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 17.5vw;
  height: 0.875vw;
  background-color: grey;
  transform-origin: top;
  transform: perspective(17.5vw) rotateX(250deg);
}

.screen {
  position: absolute;
  top: 0.875vw;
  left: 1.1666666667vw;
  width: 32.6666666667vw;
  height: 15.75vw;
  background-color: grey;
  border-radius: 1%;
}

.tv_stand {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 30vw;
  height: 15vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 10000vw;
  transform: rotateX(0deg) rotateY(0deg) translateZ(-42.5vw);
}
.tv_stand::before {
  content: "";
  position: absolute;
  width: 30vw;
  height: 7.5vw;
  background-color: #a38659;
  border-radius: 0.5vw;
  transform: rotateX(90deg) translateZ(3.75vw);
}
.tv_stand__plank {
  position: absolute;
  width: 30vw;
  height: 1.5vw;
  background-color: #a38659;
  box-sizing: border-box;
  border-radius: 0.5vw;
  border: 1px solid;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 3000vw;
  transform: translateZ(3.75vw);
}
.tv_stand__plank--up {
  top: 0;
}
.tv_stand__plank--middle {
  top: 6.75vw;
  left: 10.3vw;
  width: 9.4vw;
  border-radius: 0;
}
.tv_stand__plank--down {
  bottom: 0;
}

.drawer {
  position: absolute;
  width: 10vw;
  height: 12vw;
  background-color: #a38659;
  box-sizing: border-box;
  border: 1px solid;
  transform: translateZ(3.75vw);
}
.drawer::before {
  content: "";
  position: absolute;
  top: 4vw;
  right: 1vw;
  width: 0.5vw;
  height: 4vw;
  background-color: black;
}
.drawer__left {
  top: 1.5vw;
  left: 0.3vw;
}
.drawer__right {
  top: 1.5vw;
  right: 0.3vw;
}
.drawer__right::before {
  left: 1vw;
}

.shelf {
  position: absolute;
  left: 10.3vw;
  width: 9.4vw;
  height: 5.25vw;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 3000vw;
}
.shelf_1 {
  top: 1.5vw;
}
.shelf_2 {
  bottom: 1.5vw;
}
.shelf__face {
  position: absolute;
  width: 9.4vw;
  height: 5.25vw;
  box-sizing: border-box;
  border: 1px solid;
  background-color: #a38659;
}
.shelf__face--front {
  opacity: 0;
  transform: translateZ(3.75vw);
}
.shelf__face--back {
  background-color: #30271a;
  transform: rotateY(180deg) translateZ(3.75vw);
}
.shelf__face--left {
  background: linear-gradient(to left, #a38659, #30271a);
  width: 7.5vw;
  transform: rotateY(-90deg) translateZ(3.75vw);
}
.shelf__face--right {
  background: linear-gradient(to right, #a38659, #30271a);
  width: 7.5vw;
  transform: rotateY(90deg) translateZ(5.65vw);
}
.shelf__face--top {
  height: 7.5vw;
  transform: rotateX(90deg) translateZ(3.75vw);
}
.shelf__face--bottom {
  background: linear-gradient(#a38659, #30271a);
  height: 7.5vw;
  transform: rotateX(-90deg) translateZ(1.5vw);
}

.sky {
  background: #00BFFF;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.sun {
  position: absolute;
  width: 2.625vw;
  height: 2.625vw;
  background-color: yellow;
  border-radius: 2.625vw;
  top: 0;
  right: 0;
}
.sun_eye {
  position: absolute;
  top: 0.875vw;
  width: 0.4375vw;
  height: 0.4375vw;
  border-radius: 0.4375vw;
  background-color: black;
}
.sun_eye-left {
  left: 0.4375vw;
}
.sun_eye-right {
  right: 0.4375vw;
}
.sun_mouth {
  position: absolute;
  top: 1.75vw;
  left: 0.65625vw;
  width: 1.3125vw;
  height: 0.525vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.ground {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}
.ground > .grass {
  width: 100%;
  height: 100%;
  background: #269627;
}
.ground > .road {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ground > .road > .road-status {
  position: absolute;
  left: 45%;
  background-color: brown;
}

.moon {
  position: absolute;
  width: 2.625vw;
  height: 2.625vw;
  background-color: #d7d7d7;
  border-radius: 2.625vw;
}
.moon_eye {
  position: absolute;
  top: 0.875vw;
  width: 0.4375vw;
  height: 0.4375vw;
  border-radius: 0.4375vw;
  background-color: black;
}
.moon_eye-left {
  left: 0.4375vw;
}
.moon_eye-right {
  right: 0.4375vw;
}
.moon_mouth {
  position: absolute;
  top: 1.75vw;
  left: 0.65625vw;
  width: 1.3125vw;
  height: 0.525vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}
.moon_crater1 {
  position: absolute;
  top: 0.2625vw;
  left: 0.525vw;
  width: 0.525vw;
  height: 0.525vw;
  border-radius: 0.525vw;
  background-color: #b6b6b6;
  transform: skewY(-15deg);
}
.moon_crater2 {
  position: absolute;
  top: 2.1vw;
  left: 0.525vw;
  width: 0.375vw;
  height: 0.375vw;
  border-radius: 0.375vw;
  background-color: #b6b6b6;
  transform: skewX(30deg);
}
.moon_crater3 {
  position: absolute;
  top: 0.328125vw;
  left: 1.96875vw;
  width: 0.375vw;
  height: 0.375vw;
  border-radius: 0.525vw;
  background-color: #b6b6b6;
  transform: skew(10deg, 10deg) rotate(0.75turn);
}

.cloud {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 1.75vw;
  width: 5.25vw;
  background: white;
  border-radius: 1.75vw;
}
.cloud::before {
  content: "";
  position: absolute;
  top: -0.5833333333vw;
  box-sizing: border-box;
  height: 1.75vw;
  width: 1.75vw;
  left: 0.875vw;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background: white;
  transform: rotate(40deg);
}
.cloud::after {
  content: "";
  position: absolute;
  height: 2.625vw;
  width: 2.625vw;
  top: -0.875vw;
  left: 1.75vw;
  border-radius: 50%;
  box-sizing: border-box;
  border-bottom-color: transparent;
  background: white;
  border-right-color: transparent;
  transform: rotate(55deg);
}
.cloud_eye {
  position: absolute;
  top: 0;
  width: 0.4375vw;
  height: 0.4375vw;
  border-radius: 0.4375vw;
  background-color: black;
}
.cloud_eye-left {
  left: 1.3125vw;
}
.cloud_eye-right {
  z-index: 2;
  right: 1.3125vw;
}
.cloud_mouth {
  z-index: 2;
  position: absolute;
  top: 0.875vw;
  left: 1.96875vw;
  width: 1.3125vw;
  height: 0.525vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.thunder {
  position: absolute;
  top: 1.75vw;
  left: 1.96875vw;
  width: 0.65625vw;
  height: 0.8203125vw;
  background-color: yellow;
  transform: skew(-40deg);
}
.thunder::before {
  content: "";
  position: absolute;
  top: 0.546875vw;
  left: 0.65625vw;
  width: 0.65625vw;
  height: 0.8203125vw;
  background-color: yellow;
}
.thunder::after {
  content: "";
  position: absolute;
  top: 1.3671875vw;
  left: 0.65625vw;
  border-style: solid;
  border-width: 0 0 0.41015625vw 0.65625vw;
  border-color: transparent transparent transparent yellow;
}

.stage {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 10vw;
  transform-style: preserve-3d;
  transform: rotateX(5deg) rotateY(45deg) translate3d(100vw, 10%, 50px);
}

.one {
  animation: 3s linear alternate infinite stage-one-rotation;
}

.two {
  animation: 1s linear alternate infinite stage-two-rotation;
}

.three {
  animation: 3s linear alternate infinite stage-three-rotation;
}

.tornado {
  position: absolute;
  top: 10%;
  left: 35%;
}

.tornado-parts {
  transform-style: preserve-3d;
  animation: 2s infinite linear tornado-spin;
}

.tornado-parts > div {
  position: absolute;
  height: 0.7vw;
  background: grey;
  transform-style: preserve-3d;
  overflow: hidden;
}

.tornado-parts-2 > div {
  top: 0.98vw;
}

.tornado-parts-3 > div {
  top: 1.96vw;
}

.tornado-parts-4 > div {
  top: 2.94vw;
}

.tornado-parts-5 > div {
  top: 3.92vw;
}

.tornado-parts-6 > div {
  top: 4.9vw;
}

.tornado-eye {
  position: absolute;
  top: 0.2009vw;
  height: 0.2982vw;
  width: 0.2982vw;
  background-color: black;
  border-radius: 0.2982vw;
}
.tornado-eye-1 {
  left: 0;
}
.tornado-eye-2 {
  left: 0;
}

.tornado-mouth {
  position: absolute;
  top: 0.22575vw;
  height: 0.35vw;
  width: 1.2425vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}
.tornado-mouth-2 {
  left: -0.2485vw;
}
.tornado-mouth-3 {
  left: -0.497vw;
}
.tornado-mouth-4 {
  left: -0.7455vw;
}
.tornado-mouth-5 {
  left: -0.994vw;
}

.volcano {
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 7vw;
  height: 2.3333333333vw;
  overflow: hidden;
}
.volcano_eye {
  position: absolute;
  top: 1.1666666667vw;
  width: 0.4375vw;
  height: 0.4375vw;
  border-radius: 0.4375vw;
  background-color: black;
}
.volcano_eye-left {
  left: 2.8vw;
}
.volcano_eye-right {
  right: 2.8vw;
}
.volcano_mouth {
  position: absolute;
  top: 1.75vw;
  left: 2.8vw;
  width: 1.3125vw;
  height: 0.525vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
}

.volcano-tube {
  position: absolute;
  left: 2.8vw;
  width: 1.4vw;
  height: 2.3333333333vw;
  background-color: #9c4110;
}
.volcano-tube::before {
  content: "";
  position: absolute;
  top: -7vw;
  left: -2.8vw;
  width: 2.8vw;
  height: 9.3333333333vw;
  background-color: transparent;
  border-bottom-right-radius: 2.3333333333vw;
  box-shadow: 0 2.3333333333vw 0 0 #9c4110;
}
.volcano-tube::after {
  content: "";
  position: absolute;
  top: -7vw;
  left: 1.4vw;
  width: 2.8vw;
  height: 9.3333333333vw;
  background-color: transparent;
  border-bottom-left-radius: 2.3333333333vw;
  box-shadow: 0 2.3333333333vw 0 0 #9c4110;
}

.lava {
  position: absolute;
  width: 1.4vw;
  height: 0.2916666667vw;
  background-color: red;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lava-flow-1 {
  position: absolute;
  left: 0.35vw;
  background-color: red;
  width: 0.28vw;
  height: 1.1666666667vw;
  border-radius: 1.1666666667vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lava-flow-1::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.2479166667vw;
  right: 0.28vw;
  height: 1.1666666667vw;
  width: 0.14vw;
  border-top-right-radius: 25px;
  box-shadow: 0 -0.5833333333vw 0 0 red;
}
.lava-flow-1::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.2916666667vw;
  left: 0.28vw;
  height: 1.1666666667vw;
  width: 0.14vw;
  border-top-left-radius: 25px;
  box-shadow: 0 -0.5833333333vw 0 0 red;
}
.lava-flow-2 {
  position: absolute;
  left: 0.9333333333vw;
  background-color: red;
  width: 0.28vw;
  height: 0.7777777778vw;
  border-radius: 1.1666666667vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lava-flow-2::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.2916666667vw;
  right: 0.28vw;
  height: 1.1666666667vw;
  width: 0.14vw;
  border-top-right-radius: 25px;
  box-shadow: 0 -0.5833333333vw 0 0 red;
}
.lava-flow-2::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0.2041666667vw;
  left: 0.28vw;
  height: 1.1666666667vw;
  width: 0.14vw;
  border-top-left-radius: 25px;
  box-shadow: 0 -0.5833333333vw 0 0 red;
}

.water-drop {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 1.75vw;
  height: 1.75vw;
  background-color: lightblue;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

.snowflake {
  position: absolute;
  top: 5%;
  left: 70%;
  background-color: red;
}
.snowflake-branch-n {
  position: absolute;
  width: 0.175vw;
  height: 1.75vw;
  border-radius: 1.75vw;
  background-color: white;
}
.snowflake-branch-n::before {
  content: "";
  position: absolute;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: bottom;
  transform: rotate(-45deg);
}
.snowflake-branch-n::after {
  content: "";
  position: absolute;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: bottom;
  transform: rotate(45deg);
}
.snowflake-branch-s {
  position: absolute;
  top: 1.75vw;
  width: 0.175vw;
  height: 1.75vw;
  border-radius: 1.75vw;
  background-color: white;
}
.snowflake-branch-s::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-s::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-nw {
  position: absolute;
  top: 1.75vw;
  width: 0.175vw;
  height: 1.75vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(120deg);
}
.snowflake-branch-nw::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-nw::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-ne {
  position: absolute;
  top: 1.75vw;
  width: 0.175vw;
  height: 1.75vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-120deg);
}
.snowflake-branch-ne::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-ne::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-se {
  position: absolute;
  top: 1.75vw;
  width: 0.175vw;
  height: 1.75vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-60deg);
}
.snowflake-branch-se::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-se::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}
.snowflake-branch-sw {
  position: absolute;
  top: 1.75vw;
  width: 0.175vw;
  height: 1.75vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(60deg);
}
.snowflake-branch-sw::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(45deg);
}
.snowflake-branch-sw::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.175vw;
  height: 0.7vw;
  border-radius: 1.75vw;
  background-color: white;
  transform-origin: top;
  transform: rotate(-45deg);
}

.body, .head, .arm, .leg {
  position: absolute;
  background-color: #FFCD94;
}

.eye, .mouth {
  position: absolute;
  background-color: white;
}

.body {
  top: 55%;
  left: 50%;
  width: 1.05vw;
  height: 3.15vw;
  border-radius: 1.05vw 1.05vw 0px 0px;
}

.head {
  top: -1.05vw;
  width: 1.05vw;
  height: 1.05vw;
  border-radius: 1.05vw;
}

.eye {
  position: absolute;
  top: 0.2625vw;
  width: 0.21vw;
  height: 0.21vw;
  border-radius: 0.21vw;
}
.eye-left {
  left: 0.21vw;
}
.eye-right {
  right: 0.21vw;
}

.mouth {
  background-color: white;
  top: 0.7vw;
  left: 0.2625vw;
  width: 0.525vw;
  height: 0.175vw;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.arm {
  top: 0.21vw;
  height: 0.525vw;
  border-radius: 1.05vw;
}
.arm_left {
  width: 1.575vw;
  right: 0.525vw;
  transform-origin: 1.3125vw 50%;
  transform: rotate(0deg);
}
.arm_left-inferior {
  top: 0;
  right: 1.05vw;
  width: 2.1vw;
  height: 0.525vw;
  transform-origin: 1.8375vw 50%;
  transform: rotate(90deg);
}
.arm_right {
  width: 3.15vw;
  left: 0.525vw;
  transform-origin: 0.2625vw 50%;
  transform: rotate(0deg);
}

.leg {
  top: 3.15vw;
  width: 0.4725vw;
  height: 2.625vw;
}
.leg_right {
  right: 0;
}

.hello {
  position: absolute;
  background-color: white;
  top: 60%;
  left: 30%;
  border: 10px solid black;
  font-size: 0.735vw;
  padding: 0.5em;
  border-radius: 1.05vw;
  transform-origin: left;
}
.hello::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -0.525vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.525vw 0.525vw 0px 0px;
  border-color: transparent black transparent transparent;
  transform: rotate(-30deg);
}

#ushanka {
  position: absolute;
  z-index: 100;
  top: 45%;
  left: 80%;
  width: 1.05vw;
  height: 0.7vw;
  background-color: #000048;
  border-radius: 0.7vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#ushanka::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.105vw;
  width: 0.84vw;
  height: 0.49vw;
  background-color: grey;
  border-radius: 0.4666666667vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#ushanka > .flap {
  position: absolute;
  top: 0.7vw;
  width: 0.0875vw;
  height: 0.875vw;
  background-color: #000048;
}
#ushanka > .flap-left {
  border-bottom-left-radius: 0.0875vw;
}
#ushanka > .flap-left::after {
  content: "";
  position: absolute;
  left: 0.0875vw;
  width: 0.0875vw;
  height: 0.875vw;
  background-color: grey;
  border-bottom-right-radius: 0.0875vw;
}
#ushanka > .flap-right {
  right: 0;
  border-bottom-right-radius: 0.0875vw;
}
#ushanka > .flap-right::after {
  content: "";
  position: absolute;
  left: -0.0875vw;
  width: 0.0875vw;
  height: 0.875vw;
  background-color: grey;
  border-bottom-left-radius: 0.0875vw;
}

#snow-coat {
  position: absolute;
  z-index: 100;
  top: 55%;
  left: 80%;
  width: 1.05vw;
  height: 3.675vw;
  background-color: olive;
  border-top-left-radius: 1.05vw;
  border-top-right-radius: 1.05vw;
}
#snow-coat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.49875vw;
  width: 0.0525vw;
  height: 3.675vw;
  background-color: black;
}
#snow-coat > #scarf {
  content: "";
  position: absolute;
  top: 0;
  left: 0.105vw;
  width: 0.84vw;
  height: 0.3675vw;
  background-color: red;
}
#snow-coat > #scarf::after {
  content: "";
  position: absolute;
  top: 0.3675vw;
  left: 0.546vw;
  z-index: 5;
  width: 0.21vw;
  height: 1.225vw;
  background-color: red;
}
#snow-coat > .snow-sleeve {
  position: absolute;
  top: 0.21vw;
  width: 3.675vw;
  height: 0.525vw;
  border-radius: 3.675vw;
  background-color: olive;
}
#snow-coat > .snow-sleeve-left {
  width: 1.575vw;
  right: 0.525vw;
  transform-origin: 1.3125vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#snow-coat > .snow-sleeve-left::after {
  content: "";
  position: absolute;
  background-color: olive;
  top: 0;
  right: 1.05vw;
  width: 1.47vw;
  height: 0.525vw;
  transform-origin: 1.2075vw 50%;
  transform: rotate(90deg);
}
#snow-coat > .snow-sleeve-right {
  width: 2.52vw;
  left: 0.525vw;
  transform-origin: 0.2625vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#snow-coat > .snow-pants-leg {
  position: absolute;
  top: 3.675vw;
  width: 0.4725vw;
  height: 2.1vw;
  background-color: blue;
}
#snow-coat > .snow-pants-leg-right {
  right: 0;
}

#shirt {
  position: absolute;
  top: 55%;
  left: 10%;
  width: 1.05vw;
  height: 3.15vw;
  background-color: lightgreen;
  border-radius: 1.05vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#shirt::before {
  content: "";
  z-index: 101;
  position: absolute;
  left: 0.1575vw;
  width: 0.21vw;
  box-sizing: content-box;
  border-width: 0.525vw 0.2625vw 0;
  border-style: solid;
  border-color: #FFCD94 transparent;
  border-radius: 1.05vw;
}
#shirt > #apperture {
  position: absolute;
  top: 0;
  z-index: 101;
  left: 0.39375vw;
  width: 0.2625vw;
  height: 2.52vw;
  background-color: #FFCD94;
}
#shirt > #apperture::after {
  content: "";
  position: absolute;
  top: 2.52vw;
  width: 0.2625vw;
  height: 0.6615vw;
  background-color: blue;
}
#shirt > .sleeve {
  position: absolute;
  top: 0.21vw;
  height: 0.525vw;
  border-radius: 3.675vw;
  background-color: lightgreen;
}
#shirt > .sleeve-left {
  width: 0.945vw;
  right: 0.525vw;
  transform-origin: 1.3125vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#shirt > .sleeve-right {
  width: 0.945vw;
  left: 0.525vw;
  transform-origin: 0.2625vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#short {
  position: absolute;
  top: 3.15vw;
  width: 1.05vw;
  height: 0.63vw;
  background-color: blue;
}
#short::before {
  content: "";
  position: absolute;
  top: 0.21vw;
  width: 0.4725vw;
  height: 0.63vw;
  background-color: blue;
}
#short::after {
  content: "";
  position: absolute;
  top: 0.21vw;
  right: 0;
  width: 0.4725vw;
  height: 0.63vw;
  background-color: blue;
}

#sunglasses {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 1.05vw;
  height: 0.0525vw;
  background-color: black;
}
#sunglasses::before {
  content: "";
  position: absolute;
  left: 0.0315vw;
  background-color: black;
  width: 0.42vw;
  height: 0.28vw;
  border-radius: 0.084vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#sunglasses::after {
  content: "";
  position: absolute;
  left: 0.5985vw;
  background-color: black;
  width: 0.42vw;
  height: 0.28vw;
  border-radius: 0.084vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#umbrella {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: purple;
  width: 3.15vw;
  height: 1.575vw;
  border-top-left-radius: 3.15vw;
  border-top-right-radius: 3.15vw;
}
#umbrella > span {
  content: "";
  background-color: white;
  width: 1.05vw;
  height: 0.35vw;
  position: absolute;
  top: 1.225vw;
  left: 1.05vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#umbrella > span::after {
  content: "";
  background-color: white;
  width: 1.05vw;
  height: 0.35vw;
  position: absolute;
  left: 1.05vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#umbrella > span::before {
  content: "";
  background-color: white;
  width: 1.05vw;
  height: 0.35vw;
  position: absolute;
  right: 1.05vw;
  border-radius: 50%/100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#stick {
  position: absolute;
  width: 0.1575vw;
  height: 1.575vw;
  background-color: #793906;
  left: 1.49625vw;
  top: 1.225vw;
}
#stick::before {
  content: "";
  position: absolute;
  top: -1.3825vw;
  width: 0.1575vw;
  height: 0.1575vw;
  background-color: #793906;
  border-radius: 0.1575vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#crook {
  position: absolute;
  width: 0.63vw;
  height: 0.315vw;
  top: 1.575vw;
  left: -0.4725vw;
  background-color: #793906;
  border-radius: 0.63vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#crook::before {
  content: "";
  position: absolute;
  width: 0.315vw;
  height: 0.1575vw;
  left: 0.1575vw;
  background-color: white;
  border-radius: 0.63vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#crook::after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.1575vw;
  width: 0.1575vw;
  height: 0.1575vw;
  background-color: #793906;
  border-radius: 0.63vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#rain-coat {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 1.05vw;
  height: 3.15vw;
  background-color: #e9c500;
  border-top-left-radius: 1.05vw;
  border-top-right-radius: 1.05vw;
}
#rain-coat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.49875vw;
  width: 0.0525vw;
  height: 3.15vw;
  background-color: black;
}
#rain-coat > .rain-sleeve {
  position: absolute;
  top: 0.21vw;
  width: 2.1vw;
  height: 0.525vw;
  border-radius: 2.1vw;
  background-color: #e9c500;
}
#rain-coat > .rain-sleeve-left {
  width: 1.575vw;
  right: 0.525vw;
  transform-origin: 1.3125vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#rain-coat > .rain-sleeve-left::after {
  content: "";
  position: absolute;
  background-color: #e9c500;
  top: 0;
  right: 1.05vw;
  width: 1.47vw;
  height: 0.525vw;
  transform-origin: 1.2075vw 50%;
  transform: rotate(90deg);
}
#rain-coat > .rain-sleeve-right {
  width: 2.52vw;
  left: 0.525vw;
  transform-origin: 0.2625vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#rain-coat > .rain-pants-leg {
  position: absolute;
  top: 3.15vw;
  width: 0.4725vw;
  height: 2.625vw;
  background-color: blue;
}
#rain-coat > .rain-pants-leg-right {
  right: 0;
}
#rain-coat > .rain-pants-leg > .rain-shoe {
  position: absolute;
  bottom: 0;
  width: 0.4725vw;
  height: 0.875vw;
  background-color: red;
}
#rain-coat > .rain-pants-leg > .rain-shoe::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.4725vw;
  height: 0.2916666667vw;
  background-color: red;
  border-top: 1px solid black;
  border-top-left-radius: 0.4725vw;
  border-top-right-radius: 0.4725vw;
}

#rain-hood {
  position: absolute;
  top: -1.05vw;
  left: 0vw;
  width: 1.05vw;
  height: 1.05vw;
  border-radius: 1.05vw;
  background: radial-gradient(circle at center, transparent 50%, #e9c500 50%);
}

.suit {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 1.05vw;
  height: 3.15vw;
  border-radius: 1.05vw 1.05vw 0px 0px;
  background-color: black;
}

.suit-shirt {
  position: absolute;
  background-color: black;
  width: 1.05vw;
  height: 1.05vw;
  border-top-left-radius: 1.05vw;
  border-top-right-radius: 1.05vw;
}

.tie {
  position: absolute;
  top: 0.21vw;
  left: 0.462vw;
  width: 0.126vw;
  height: 0.651vw;
  background-color: red;
}
.tie::before {
  content: "";
  position: absolute;
  top: -0.21vw;
  left: -0.0525vw;
  width: 0.21vw;
  height: 0.21vw;
  background-color: red;
  border-radius: 0.21vw;
}
.tie-bottom {
  position: absolute;
  top: 0.651vw;
  width: 0.126vw;
  height: 0.399vw;
}

.suit-sleeve {
  position: absolute;
  top: 0.21vw;
  height: 0.525vw;
  background-color: black;
  border-radius: 3.15vw;
}
.suit-sleeve_left {
  width: 1.575vw;
  right: 0.525vw;
  transform-origin: 1.3125vw 50%;
  transform: rotate(0deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.suit-sleeve_left::after {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  right: 1.05vw;
  width: 1.47vw;
  height: 0.525vw;
  transform-origin: 1.2075vw 50%;
  transform: rotate(90deg);
}
.suit-sleeve_right {
  width: 2.52vw;
  left: 0.525vw;
  transform-origin: 0.2625vw 50%;
  transform: rotate(0deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.suit-pants-leg {
  position: absolute;
  top: 3.15vw;
  width: 0.4725vw;
  height: 2.625vw;
  background-color: black;
}
.suit-pants-leg-right {
  right: 0;
}
.suit-pants-leg > .suit-shoe {
  position: absolute;
  bottom: 0;
  width: 0.4725vw;
  height: 0.2625vw;
  background-color: #481d20;
  border-top-left-radius: 0.4725vw;
  border-top-right-radius: 0.4725vw;
}

body {
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
